# 임포트

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import matplotlib
from matplotlib import font_manager,rc  # 한글 폰트 입력을 위한 라이브러리

In [ ]:
#폰트 경로 가져오기
font_path = 'C:/Windows/Fonts/gulim.ttc'
 
#폰트 이름 얻어오기
font_name = font_manager.FontProperties(fname=font_path).get_name()
 
#폰트 설정하기
matplotlib.rc('font',family=font_name)

# 데이터확인

In [ ]:
# 팀별 순위 파일 불러오기
df = pd.read_excel('team_ranking.xlsx')

In [ ]:
name_change = [['삼성'],
               ['해태', 'KIA'],
               ['롯데'],
               ['삼미', '청보', '태평양', '현대'],
               ['MBC', 'LG'],
               ['OB', '두산'],
               ['빙그레', '한화'],
               ['쌍방울'],
               ['SK', 'SSG'],
               ['키움'],
               ['NC'],
               ['KT']]

In [ ]:
season = os.listdir('by_year')

In [ ]:
df_list = []
for i in range(1982, 2022):
    if '두산.xlsx' in os.listdir(f'by_year/{i}'):
        df_list.append(pd.read_excel(f'by_year/{i}/두산.xlsx', sheet_name='hitter_record'))
    else:
        df_list.append(pd.read_excel( f'by_year/{i}/OB.xlsx', sheet_name='hitter_record'))

In [ ]:
for item in name_change:
    for i in range(len(item)):
        if f'{item[-1]}.xlsx' in os.listdir(f'by_year/{i}'):
            df_list.append(pd.read_excel(f'by_year/{i}/두산.xlsx', sheet_name='hitter_record'))
        else:
            df_list.append(pd.read_excel( f'by_year/{i}/OB.xlsx', sheet_name='hitter_record'))

In [ ]:
df

# 분석

## 팀별 순위, 평균타율

In [ ]:
name_change

In [ ]:
def rank_hit(team):
    for name in name_change:
        if team in name:
            name_list = name
        
    df_list = []
    cnt = 0
    for i in range(1982, 2022):
        if all(f'{n}.xlsx' not in os.listdir(f'by_year/{i}') for n in name_list):
            cnt += 1
        else:
            for n in name_list:
                if f'{n}.xlsx' in os.listdir(f'by_year/{i}'):
                    df_list.append(pd.read_excel(f'by_year/{i}/{n}.xlsx', sheet_name='hitter_record'))
            
    
    avg_mean = [None] * cnt
    for i in range(len(df_list)):
        main = df_list[i].nlargest(10, 'G')
        main['AVG'] = pd.to_numeric(main['AVG'], downcast="float")
        avg_mean.append(main['AVG'].mean())
    
    avg_df = pd.DataFrame(columns=['연도', '평타'])
    years = [x for x in range(1982, 2022)]
    for i in range(len(avg_mean)):
        avg_df.loc[i] = [years[i], avg_mean[i]]
        
    # 그래프 그리기
    fig, ax1 = plt.subplots(figsize=(20,5))
    ax1.set_xlabel('연도')
    ax1.set_ylabel('순위')
    plt.gca().invert_yaxis()
    line1 = ax1.plot(df['연도'], df[name_list[-1]], color='blue', alpha=0.5, linewidth=2, label='순위')

    ax2 = ax1.twinx()
    ax2.set_ylabel('팀 평균타율')
    line2 = ax2.plot(avg_df['연도'], avg_df['평타'], color='red', alpha=0.5, linewidth=2, label='팀 평균타율')

    lines = line1 + line2
    labels = [l.get_label() for l in lines]
    ax1.legend(lines, labels, loc='upper right')
    plt.show()

In [ ]:
for name in name_change[1:]:
    name_list = name
        
    df_list = []
    cnt = 0
    for i in range(1982, 2022):
        if all(f'{n}.xlsx' not in os.listdir(f'by_year/{i}') for n in name_list):
            cnt += 1
        else:
            for n in name_list:
                if f'{n}.xlsx' in os.listdir(f'by_year/{i}'):
                    df_list.append(pd.read_excel(f'by_year/{i}/{n}.xlsx', sheet_name='hitter_record'))
            
    avg_mean = [None] * cnt
    for i in range(len(df_list)):
        main = df_list[i].nlargest(10, 'G')
        main['AVG'] = pd.to_numeric(main['AVG'], downcast="float")
        avg_mean.append(main['AVG'].mean())
    
    avg_df = pd.DataFrame(columns=['연도', '평타'])
    years = [x for x in range(1982, 2022)]
    for i in range(len(avg_mean)):
        avg_df.loc[i] = [years[i], avg_mean[i]]

    avg_df_list.append(avg_df)

In [ ]:
fig, axes = plt.subplots(5, 2, figsize=(20,20))
for i, n in zip(range(len(avg_df_list)), name_change[1:]):
    axes[i//2, i%2].set_xlabel('연도')
    axes[i//2, i%2].set_ylabel('순위')
    plt.gca().invert_yaxis()
    line1 = axes[i//2, i%2].plot(df['연도'], df[n[-1]], color='blue', alpha=0.5, linewidth=2, label='순위')

    ax_2 = axes[i//2, i%2].twinx()
    ax_2.set_ylabel('팀 평균타율')
    line2 = ax_2.plot(avg_df_list[i]['연도'], avg_df_list[i]['평타'], color='red', alpha=0.5, linewidth=2, label='팀 평균타율')

    lines = line1 + line2
    labels = [l.get_label() for l in lines]
    axes[i//2, i%2].legend(lines, labels, loc='upper right')
plt.show()

In [ ]:
# 그래프 그리기
fig, ax1 = plt.subplots(10, figsize=(20,5))
ax1.set_xlabel('연도')
ax1.set_ylabel('순위')
plt.gca().invert_yaxis()
line1 = ax1.plot(df['연도'], df[name_list[-1]], color='blue', alpha=0.5, linewidth=2, label='순위')

ax2 = ax1.twinx()
ax2.set_ylabel('팀 평균타율')
line2 = ax2.plot(avg_df['연도'], avg_df['평타'], color='red', alpha=0.5, linewidth=2, label='팀 평균타율')

lines = line1 + line2
labels = [l.get_label() for l in lines]
ax1.legend(lines, labels, loc='upper right')
plt.show()

In [ ]:
rank_hit('한화')

In [ ]:
rank_hit('KIA')

In [ ]:
rank_hit('삼성')

In [ ]:
teams = [x[-1] for x in name_change]
teams

In [ ]:
plt.figure(figsize=(25,5))            
plt.plot(df['연도'], df['두산'])
plt.gca().invert_yaxis()
print(plt.show())

In [ ]:
df_list = []
cnt = 0
for i in range(1982, 2022):
    if '한화.xlsx' in os.listdir(f'by_year/{i}'):
        df_list.append(pd.read_excel(f'by_year/{i}/한화.xlsx', sheet_name='hitter_record'))
    elif '빙그레.xlsx' in os.listdir(f'by_year/{i}'):
        df_list.append(pd.read_excel( f'by_year/{i}/빙그레.xlsx', sheet_name='hitter_record'))
    else:
        cnt += 1

In [ ]:
avg_mean = [None] * cnt
for i in range(len(df_list)):
    main = df_list[i].nlargest(10, 'G')
    main['AVG'] = pd.to_numeric(main['AVG'], downcast="float")
    avg_mean.append(main['AVG'].mean())

In [ ]:
avg_df = pd.DataFrame(columns=['연도', '평타'])
years = [x for x in range(1982, 2022)]
for i in range(len(avg_mean)):
    avg_df.loc[i] = [years[i], avg_mean[i]]

In [ ]:
avg_df

In [ ]:
len(avg_mean)
len(years)

In [ ]:
fig, ax1 = plt.subplots(figsize=(25,5))
ax1.set_xlabel('연도')
ax1.set_ylabel('순위')
plt.gca().invert_yaxis()
line1 = ax1.plot(df['연도'], df['한화'], color='green', label='1st Data')

ax2 = ax1.twinx()
ax2.set_ylabel('팀 평균타율')
line2 = ax2.plot(avg_df['연도'], avg_df['평타'], color='deeppink', label='2nd Data')

lines = line1 + line2
labels = [l.get_label() for l in lines]
ax1.legend(lines, labels, loc='upper right')
plt.show()

In [ ]:
plt.figure(figsize=(25,5))            


plt.gca().invert_yaxis()
line1 = plt.plot(df['연도'], df['두산'], color='blue', alpha=0.5, linewidth=2)

fig = plt.twinx()
line2 = fig.plot(avg_df['연도'], avg_df['평타'], color='red', alpha=0.5, linewidth=2)

lines = line1 + line2
labels = [l.get_label() for l in lines]
plt.legend(lines, labels, loc='upper right')
plt.show()

In [ ]:
plt.figure(figsize=(25,5))            
plt.plot(df['연도'], df['두산'], color='blue', alpha=0.5, linewidth=2)
plt.gca().invert_yaxis()

fig = plt.twinx()
fig.plot(avg_df['연도'], avg_df['평타'], color='red', alpha=0.5, linewidth=2)



lines = plt + fig
labels = [l.get_label() for l in lines]
plt.legend(lines, labels, loc='upper right')



plt.show()

## 선수분포

In [ ]:
for name in name_change:
    if '두산' in name:
        name_list = name

In [ ]:
df_list = []
cnt = 0
for i in range(1982, 2022):
    if all(f'{n}.xlsx' not in os.listdir(f'by_year/{i}') for n in name_list):
        cnt += 1
    else:
        for n in name_list:
            if f'{n}.xlsx' in os.listdir(f'by_year/{i}'):
                df_list.append(pd.read_excel(f'by_year/{i}/{n}.xlsx', sheet_name='hitter_record'))

In [ ]:
hit_hist = [None] * cnt
for df_ in df_list:
    player = df_[df_['G'] >= 72]
    player['AVG'].replace('-', None, inplace=True)
    player['AVG'] = pd.to_numeric(player['AVG'], downcast="float")
    hit_hist.append(player['AVG'])

In [ ]:
hit_hist[0].hist()

In [ ]:
avg_df = pd.DataFrame(columns=['연도', '평타'])
years = [x for x in range(1982, 2022)]
for i in range(len(avg_mean)):
    avg_df.loc[i] = [years[i], avg_mean[i]]

In [ ]:
# 그래프 그리기
fig, ax1 = plt.subplots(figsize=(20,5))
ax1.set_xlabel('연도')
ax1.set_ylabel('순위')
plt.gca().invert_yaxis()
line1 = ax1.plot(df['연도'], df[name_list[-1]], color='blue', alpha=0.5, linewidth=2, label='순위')

ax2 = ax1.twinx()
ax2.set_ylabel('팀 평균타율')
line2 = ax2.plot(avg_df['연도'], avg_df['평타'], color='red', alpha=0.5, linewidth=2, label='팀 평균타율')

lines = line1 + line2
labels = [l.get_label() for l in lines]
ax1.legend(lines, labels, loc='upper right')
plt.show()

## 타율, 도루

In [ ]:
tmp = pd.read_excel('by_year/2021/두산.xlsx')

In [ ]:
tmp[tmp['G'] >= 72]

In [ ]:
tmp_hit = pd.read_excel('by_year/2021/두산.xlsx', sheet_name='hitter_record')
tmp_run = pd.read_excel('by_year/2021/두산.xlsx', sheet_name='run_record')

In [ ]:
tmp_hit.set_index('선수명', inplace=True)
tmp_run.set_index('선수명', inplace=True)

In [ ]:
tmp_hit = tmp_hit[tmp_hit['G'] >= 72][['AVG']]
tmp_run = tmp_run[tmp_run['SBA'] > 0][['SBA']]

In [ ]:
tmp_con = pd.concat([tmp_hit, tmp_run], axis=1)

In [ ]:
tmp_con = tmp_con.reset_index()

In [ ]:
tmp_con['AVG'] = pd.to_numeric(tmp_con['AVG'], downcast="float")
tmp_con

In [ ]:
# 그림 사이즈, 바 굵기 조정
fig, ax = plt.subplots(figsize=(20,10))
bar_width = 0.25

# 연도가 4개이므로 0, 1, 2, 3 위치를 기준으로 삼음
index = np.arange(len(tmp_con))

# 각 연도별로 3개 샵의 bar를 순서대로 나타내는 과정, 각 그래프는 0.25의 간격을 두고 그려짐
b1 = plt.bar(index, tmp_con['AVG'], bar_width, alpha=0.4, color='red', label='AVG')
plt.legend(loc='upper left')

fig = plt.twinx()
b2 = fig.bar(index + bar_width, tmp_con['SBA'], bar_width, alpha=0.4, color='blue', label='SBA')
fig.legend(loc='upper right')

name = list(tmp_con['선수명'])

# x축 위치를 정 가운데로 조정하고 x축의 텍스트를 name 정보와 매칭
plt.xticks(np.arange(bar_width, len(tmp_con) + bar_width, 1), name)

# x축, y축 이름 및 범례 설정
plt.xlabel('player', size = 13)
plt.ylabel(['hit', 'run'], size = 13)
plt.legend()

plt.show()