In [21]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
from selenium.webdriver.common.by import By

import re
import time
import os

In [2]:
# 엑셀에 여러 시트로 저장하기 위한 모듈
!pip install Xlsxwriter

Requirement already satisfied: Xlsxwriter in c:\users\wbs04\miniconda3\lib\site-packages (3.0.3)

In [22]:
driver = webdriver.Chrome(executable_path="C:/Users/wbs04/workspace/chromedriver_win32/chromedriver.exe")

C:\Users\wbs04\AppData\Local\Temp\ipykernel_4756\3375717391.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path="C:/Users/wbs04/workspace/chromedriver_win32/chromedriver.exe")

In [23]:
def go_to_page(selector):
    global soup
    click_on = driver.find_element(By.CSS_SELECTOR, selector)
    click_on.click()
    time.sleep(1.5)
    soup = BeautifulSoup(driver.page_source, 'html.parser')

In [24]:
def make_dataframe():
    # 기록표 컬럼명 저장 (기록표 컬럼명 바뀔 때마다 실행)
    col_names = []
    record_col = soup.select("#cphContents_cphContents_cphContents_udpContent > div.record_result > table > thead > tr > th")
    for item in record_col:
        col_names.append(item.text)
        
    return pd.DataFrame(columns=col_names)

In [25]:
# 해당 url로 이동
url = "https://www.koreabaseball.com"
driver.get(url)

In [26]:
go_to_page('#lnb > li:nth-child(3) > a')  # 기록탭으로 이동
go_to_page('#lnb02')  # 기록실로 이동

In [51]:
df_hitter_record = make_dataframe()

In [52]:
df_hitter_record

Empty DataFrame
Columns: [순위, 선수명, 팀명, AVG, G, PA, AB, H, 2B, 3B, HR, RBI, SB, CS, BB, HBP, SO, GDP, E]
Index: []

## 타자기록 저장

In [7]:
# 팀 별 기록 저장 폴더 만들기
os.mkdir('by_team1')
os.mkdir('by_team2')
os.mkdir('by_team3')

In [8]:
writer.close()

NameError: name 'writer' is not defined

In [11]:
##### 기본 기록 1 #####
years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')[:-1]
for idx, year in enumerate(years):    
    go_to_page(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({idx+1})')
    print(f'<<<{year.text.strip()}>>>')
    
    teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
    for i, item in enumerate(teams_soup):
        go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
        print(f'{item.text.strip()}')
        
        df_hitter_record = make_dataframe()

        # 페이지 길이
        # 페이지 번호 길이
        page_btn = soup.select("div.paging > a")     
        page_range = 2 if len(page_btn) == 1 else len(page_btn)-1
        
        page_lines = []
        for j in range(1, page_range):
            # 페이지 이동
            go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

            # 데이터프레임에 선수 정보 한 행씩 추가
            players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
            for player in players_list:
                page_lines.append(player.text.strip().split('\n'))
        
        for line in page_lines:
            df_hitter_record.loc[len(df_hitter_record)] = line
        
        
        # 엑셀에 저장
        if f'{item.text}.xlsx' in os.listdir('by_team1'):
            writer = pd.ExcelWriter(f'by_team1/{item.text.strip()}.xlsx', mode='a', engine='openpyxl')
        else:
            writer = pd.ExcelWriter(f'by_team1/{item.text.strip()}.xlsx', engine='xlsxwriter')
        df_hitter_record.to_excel(writer, sheet_name=f'{year.text.strip()}', index=False)
        print(f'{item.text.strip()} 완료')
        writer.save()
        
        go_to_page('#cphContents_cphContents_cphContents_ucPager_btnNo1')       
writer.close()

<<<1982>>>
롯데
롯데 완료
삼미
삼미 완료
삼성
삼성 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1983>>>
롯데
롯데 완료
삼미
삼미 완료
삼성
삼성 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1984>>>
롯데
롯데 완료
삼미
삼미 완료
삼성
삼성 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1985>>>
롯데
롯데 완료
삼성
삼성 완료
청보
청보 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1986>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
청보
청보 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1987>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
청보
청보 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1988>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
태평양
태평양 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1989>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
태평양
태평양 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1990>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
태평양
태평양 완료
해태
해태 완료
LG
LG 완료
OB
OB 완료
<<<1991>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
태평양
태평양 완료
해태
해태 완료
LG
LG 완료
OB
OB 완료
<<<1992>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
태평양
태평양 완료
해태
해태 완료
LG
LG 완료
OB
OB 완료
<<<1993>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
태평양
태평양 완료
해태
해태 완료
LG
LG 완료
OB
OB 완료
<<<1994>>>
롯데
롯데 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
태평양
태평양 완료
한화
한화 완료
해태
해태 완료
LG
LG 완료
OB
OB 완료
<<<1995>>>
롯데
롯데 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
태평양
태평양 완료
한화
한화 완료
해태
해태 완료
LG
LG 완료
OB
OB 완료
<<<1996>>>
롯데
롯데 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
한화
한화 완료
해태
해태 완료
현대
현대 완료
LG
LG 완료
OB
OB 완료
<<<1997>>>
롯데
롯데 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
한화
한화 완료
해태
해태 완료
현대
현대 완료
LG
LG 완료
OB
OB 완료
<<<1998>>>
롯데
롯데 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
한화
한화 완료
해태
해태 완료
현대
현대 완료
LG
LG 완료
OB
OB 완료
<<<1999>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
한화
한화 완료
해태
해태 완료
현대
현대 완료
LG
LG 완료
<<<2000>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
해태
해태 완료
현대
현대 완료
LG
LG 완료
SK
SK 완료
<<<2001>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2002>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2003>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2004>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2005>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2006>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2007>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2008>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
우리 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2009>>>
히어로즈
히어로즈 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2010>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2011>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2012>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2013>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2014>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2015>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2016>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2017>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2018>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2019>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2020>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2021>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료
<<<2022>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료

In [10]:
writer.close()

In [7]:
##### 기본 기록 2 #####
years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')[:-1]
for idx, year in enumerate(years[20:]):   
    go_to_page(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({idx+21})')
    go_to_page('#cphContents_cphContents_cphContents_udpContent > div.row > div.more_record > a.next')
    print(f'<<<{year.text.strip()}>>>')
    
    teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
    for i, item in enumerate(teams_soup):
        go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
        print(f'{item.text.strip()}')
        
        df_hitter_record = make_dataframe()

        # 페이지 길이
        # 페이지 번호 길이
        page_btn = soup.select("div.paging > a")     
        page_range = 2 if len(page_btn) == 1 else len(page_btn)-1
        
        page_lines = []
        for j in range(1, page_range):
            # 페이지 이동
            go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

            # 데이터프레임에 선수 정보 한 행씩 추가
            players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
            for player in players_list:
                page_lines.append(player.text.strip().split('\n'))
        
        for line in page_lines:
            df_hitter_record.loc[len(df_hitter_record)] = line
        
        
        # 엑셀에 저장
        if f'{item.text}.xlsx' in os.listdir('by_team2'):
            writer = pd.ExcelWriter(f'by_team2/{item.text.strip()}.xlsx', mode='a', engine='openpyxl')
        else:
            writer = pd.ExcelWriter(f'by_team2/{item.text.strip()}.xlsx', engine='xlsxwriter')
        df_hitter_record.to_excel(writer, sheet_name=f'{year.text.strip()}', index=False)
        print(f'{item.text.strip()} 완료')
        writer.save()
        
        go_to_page('#cphContents_cphContents_cphContents_ucPager_btnNo1')       
writer.close()

<<<2002>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2003>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2004>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2005>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2006>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2007>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2008>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
우리 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2009>>>
히어로즈
히어로즈 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2010>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2011>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2012>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2013>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2014>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2015>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2016>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2017>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2018>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2019>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2020>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2021>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료
<<<2022>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료

In [56]:
#########team2 점검###########

In [13]:
team_list = os.listdir('by_team2')
for t in team_list:
    ex = pd.ExcelFile(f'by_team2/{t}')
    for s in ex.sheet_names:
        df_tmp = ex.parse(s)
        if df_tmp['팀명'][0].strip() != t.split('.')[0].strip():
            print(t, s)

In [14]:
team_list = os.listdir('by_team2')
for t in team_list:
    ex = pd.ExcelFile(f'by_team2/{t}')
    for i in range(len(ex.sheet_names)-1):
        df1 = ex.parse(ex.sheet_names[i])
        for j in range(i+1, len(ex.sheet_names)):
            df2 = ex.parse(ex.sheet_names[j])
            
            if df1.equals(df2):
                print(t, i)

In [ ]:
# 롯데.xlsx 5
# 삼성.xlsx 5
# 한화.xlsx 5

In [12]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
df_hitter_record = make_dataframe()

# 페이지 길이
# 페이지 번호 길이
page_btn = soup.select("div.paging > a")     
page_range = 2 if len(page_btn) == 1 else len(page_btn)-1

page_lines = []
for j in range(1, page_range):
    # 페이지 이동
    go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

    # 데이터프레임에 선수 정보 한 행씩 추가
    players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
    for player in players_list:
        page_lines.append(player.text.strip().split('\n'))

for line in page_lines:
    df_hitter_record.loc[len(df_hitter_record)] = line


# 엑셀에 저장
if '넥센.xlsx' in os.listdir('by_team2'):
    writer = pd.ExcelWriter('by_team2/넥센.xlsx', mode='a', engine='openpyxl', if_sheet_exists = 'replace')
else:
    writer = pd.ExcelWriter('by_team2/넥센.xlsx', engine='xlsxwriter')
df_hitter_record.to_excel(writer, sheet_name='2013', index=False)
writer.save()

In [23]:
##### 기본 기록 2 #####
go_to_page('#cphContents_cphContents_cphContents_udpContent > div.row > div.more_record > a.next')

years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')[:-1]
for idx, year in enumerate(years[20:]):    
    go_to_page(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({idx+21})')
    print(f'<<<{year.text.strip()}>>>')
    
    teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
    for i, item in enumerate(teams_soup):
        go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
        print(f'{item.text.strip()}')
        
        df_hitter_record = make_dataframe()

        # 페이지 길이
        # 페이지 번호 길이
        page_btn = soup.select("div.paging > a")     
        page_range = 2 if len(page_btn) == 1 else len(page_btn)-1
        
        page_lines = []
        for j in range(1, page_range):
            # 페이지 이동
            go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

            # 데이터프레임에 선수 정보 한 행씩 추가
            players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
            for player in players_list:
                page_lines.append(player.text.strip().split('\n'))
        
        for line in page_lines:
            df_hitter_record.loc[len(df_hitter_record)] = line
        
        
        # 엑셀에 저장
        if year.text.strip() in pd.ExcelFile(f'by_team/{item.text.strip()}.xlsx').sheet_names:  # 시트가 있다면
            df = pd.read_excel(f'by_team/{item.text.strip()}.xlsx', sheet_name=f'{year.text.strip()}')
            df = pd.concat([df, df_hitter_record[df_hitter_record.columns[4:]]], axis=1)
            # 중복 열 제거
            df = df.loc[:, ~df.T.duplicated()]
    
            writer = pd.ExcelWriter(f'by_team/{item.text.strip()}.xlsx', mode='a', engine='openpyxl', if_sheet_exists = 'replace')
            df.to_excel(writer, sheet_name=f'{year.text.strip()}', index=False)
            print(f'{item.text.strip()} 완료')
            writer.save()
        
        driver.find_element(By.CSS_SELECTOR, '#cphContents_cphContents_cphContents_ucPager_btnNo1').click()       
writer.close()

<<<2002>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2003>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2004>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

한화 완료
KIA

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

KIA 완료
LG

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

LG 완료
SK

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

SK 완료
<<<2005>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

한화 완료
KIA

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

KIA 완료
LG

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

LG 완료
SK

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

SK 완료
<<<2006>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

한화 완료
KIA

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

KIA 완료
LG

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

LG 완료
SK

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

SK 완료
<<<2007>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

한화 완료
KIA

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

KIA 완료
LG

C:\Users\wbs04\miniconda3\lib\site-packages\pandas\core\frame.py:6257: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  diff = Index(subset).difference(self.columns)

LG 완료
SK
SK 완료
<<<2008>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
우리 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2009>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2010>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2011>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2012>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2013>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2014>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2015>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2016>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2017>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2018>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":"#cphContents_cphContents_cphContents_ucPager_btnNo2"}
  (Session info: chrome=106.0.5249.103)
Stacktrace:
Backtrace:
	Ordinal0 [0x00BE1ED3+2236115]
	Ordinal0 [0x00B792F1+1807089]
	Ordinal0 [0x00A866FD+812797]
	Ordinal0 [0x00AB55DF+1005023]
	Ordinal0 [0x00AB57CB+1005515]
	Ordinal0 [0x00AE7632+1209906]
	Ordinal0 [0x00AD1AD4+1120980]
	Ordinal0 [0x00AE59E2+1202658]
	Ordinal0 [0x00AD18A6+1120422]
	Ordinal0 [0x00AAA73D+960317]
	Ordinal0 [0x00AAB71F+964383]
	GetHandleVerifier [0x00E8E7E2+2743074]
	GetHandleVerifier [0x00E808D4+2685972]
	GetHandleVerifier [0x00C72BAA+532202]
	GetHandleVerifier [0x00C71990+527568]
	Ordinal0 [0x00B8080C+1837068]
	Ordinal0 [0x00B84CD8+1854680]
	Ordinal0 [0x00B84DC5+1854917]
	Ordinal0 [0x00B8ED64+1895780]
	BaseThreadInitThunk [0x76886739+25]
	RtlGetFullPathName_UEx [0x77BE8FD2+1218]
	RtlGetFullPathName_UEx [0x77BE8F9D+1165]

In [14]:
writer.close()

In [9]:
go_to_page('#cphContents_cphContents_cphContents_udpContent > div.row > div.tab-depth3 > ul > li:nth-child(2) > a')

In [15]:
##### 기본 기록 3 #####
#### 세부기록 P/PA ####
years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')
for idx, year in enumerate(years[20:]):    
    go_to_page(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({idx+21})')
    go_to_page('#cphContents_cphContents_cphContents_udpContent > div.tab-depth3 > ul > li.on > a')
    print(f'<<<{year.text.strip()}>>>')
    
    teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
    for i, item in enumerate(teams_soup):
        go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
        print(f'{item.text.strip()}')
        
        df_hitter_record = make_dataframe()

        # 페이지 길이
        # 페이지 번호 길이
        page_btn = soup.select("div.paging > a")     
        page_range = 2 if len(page_btn) == 1 else len(page_btn)-1
        
        page_lines = []
        for j in range(1, page_range):
            # 페이지 이동
            go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

            # 데이터프레임에 선수 정보 한 행씩 추가
            players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
            for player in players_list:
                page_lines.append(player.text.strip().split('\n'))
        
        for line in page_lines:
            df_hitter_record.loc[len(df_hitter_record)] = line
        
        
        # 엑셀에 저장
        if f'{item.text}.xlsx' in os.listdir('by_team3'):
            writer = pd.ExcelWriter(f'by_team3/{item.text.strip()}.xlsx', mode='a', engine='openpyxl')
        else:
            writer = pd.ExcelWriter(f'by_team3/{item.text.strip()}.xlsx', engine='xlsxwriter')
        df_hitter_record.to_excel(writer, sheet_name=f'{year.text.strip()}', index=False)
        print(f'{item.text.strip()} 완료')
        writer.save()
        
        go_to_page('#cphContents_cphContents_cphContents_ucPager_btnNo1')       
writer.close()

<<<2002>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2003>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2004>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2005>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2006>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2007>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2008>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
우리 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2009>>>
히어로즈
히어로즈 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2010>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2011>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2012>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2013>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2014>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2015>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2016>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2017>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2018>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2019>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2020>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2021>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료
<<<2022>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료

In [27]:
# 기본기록 + 세부기록['P/PA']
# by_team1, by_team3 파일 합치기
byteam3_list = os.listdir('by_team3')
for team3 in byteam3_list:
    ex = pd.ExcelFile(f'by_team3/{team3}')
    print(f'<<<{team3}>>>')
    for s in ex.sheet_names:
        df3 = ex.parse(s)[['P/PA']]
        print(f'team3 {s}')
        df1 = pd.read_excel(f'by_team1/{team3}', sheet_name=s)
        print(f'team1 {s}')
        
        df = pd.concat([df1,df3], axis=1)
        df = df.loc[:, ~df.T.duplicated()]
        
        writer = pd.ExcelWriter(f'by_team1/{team3}', mode='a', engine='openpyxl', if_sheet_exists = 'replace')
        df.to_excel(writer, sheet_name=s, index=False)
        print(f'{s} 완료')
        writer.save()
writer.close()

<<<KIA.xlsx>>>
team3 2002
team1 2002
2002 완료
team3 2003
team1 2003
2003 완료
team3 2004
team1 2004
2004 완료
team3 2005
team1 2005
2005 완료
team3 2006
team1 2006
2006 완료
team3 2007
team1 2007
2007 완료
team3 2008
team1 2008
2008 완료
team3 2009
team1 2009
2009 완료
team3 2010
team1 2010
2010 완료
team3 2011
team1 2011
2011 완료
team3 2012
team1 2012
2012 완료
team3 2013
team1 2013
2013 완료
team3 2014
team1 2014
2014 완료
team3 2015
team1 2015
2015 완료
team3 2016
team1 2016
2016 완료
team3 2017
team1 2017
2017 완료
team3 2018
team1 2018
2018 완료
team3 2019
team1 2019
2019 완료
team3 2020
team1 2020
2020 완료
team3 2021
team1 2021
2021 완료
team3 2022
team1 2022
2022 완료
<<<KT.xlsx>>>
team3 2015
team1 2015
2015 완료
team3 2016
team1 2016
2016 완료
team3 2017
team1 2017
2017 완료
team3 2018
team1 2018
2018 완료
team3 2019
team1 2019
2019 완료
team3 2020
team1 2020
2020 완료
team3 2021
team1 2021
2021 완료
team3 2022
team1 2022
2022 완료
<<<LG.xlsx>>>
team3 2002
team1 2002
2002 완료
team3 2003
team1 2003
2003 완료
team3 2004
team1 2004
2004 완료
team3 2005
team1 2005
2005 완료
team3 2006
team1 2006
2006 완료
team3 2007
team1 2007
2007 완료
team3 2008
team1 2008
2008 완료
team3 2009
team1 2009
2009 완료
team3 2010
team1 2010
2010 완료
team3 2011
team1 2011
2011 완료
team3 2012
team1 2012
2012 완료
team3 2013
team1 2013
2013 완료
team3 2014
team1 2014
2014 완료
team3 2015
team1 2015
2015 완료
team3 2016
team1 2016
2016 완료
team3 2017
team1 2017
2017 완료
team3 2018
team1 2018
2018 완료
team3 2019
team1 2019
2019 완료
team3 2020
team1 2020
2020 완료
team3 2021
team1 2021
2021 완료
team3 2022
team1 2022
2022 완료
<<<NC.xlsx>>>
team3 2013
team1 2013
2013 완료
team3 2014
team1 2014
2014 완료
team3 2015
team1 2015
2015 완료
team3 2016
team1 2016
2016 완료
team3 2017
team1 2017
2017 완료
team3 2018
team1 2018
2018 완료
team3 2019
team1 2019
2019 완료
team3 2020
team1 2020
2020 완료
team3 2021
team1 2021
2021 완료
team3 2022
team1 2022
2022 완료
<<<SK.xlsx>>>
team3 2002
team1 2002
2002 완료
team3 2003
team1 2003
2003 완료
team3 2004
team1 2004
2004 완료
team3 2005
team1 2005
2005 완료
team3 2006
team1 2006
2006 완료
team3 2007
team1 2007
2007 완료
team3 2008
team1 2008
2008 완료
team3 2009
team1 2009
2009 완료
team3 2010
team1 2010
2010 완료
team3 2011
team1 2011
2011 완료
team3 2012
team1 2012
2012 완료
team3 2013
team1 2013
2013 완료
team3 2014
team1 2014
2014 완료
team3 2015
team1 2015
2015 완료
team3 2016
team1 2016
2016 완료
team3 2017
team1 2017
2017 완료
team3 2018
team1 2018
2018 완료
team3 2019
team1 2019
2019 완료
team3 2020
team1 2020
2020 완료
<<<SSG.xlsx>>>
team3 2021
team1 2021
2021 완료
team3 2022
team1 2022
2022 완료
<<<넥센.xlsx>>>
team3 2010
team1 2010
2010 완료
team3 2011
team1 2011
2011 완료
team3 2012
team1 2012
2012 완료
team3 2013
team1 2013
2013 완료
team3 2014
team1 2014
2014 완료
team3 2015
team1 2015
2015 완료
team3 2016
team1 2016
2016 완료
team3 2017
team1 2017
2017 완료
team3 2018
team1 2018
2018 완료
<<<두산.xlsx>>>
team3 2002
team1 2002
2002 완료
team3 2003
team1 2003
2003 완료
team3 2004
team1 2004
2004 완료
team3 2005
team1 2005
2005 완료
team3 2006
team1 2006
2006 완료
team3 2007
team1 2007
2007 완료
team3 2008
team1 2008
2008 완료
team3 2009
team1 2009
2009 완료
team3 2010
team1 2010
2010 완료
team3 2011
team1 2011
2011 완료
team3 2012
team1 2012
2012 완료
team3 2013
team1 2013
2013 완료
team3 2014
team1 2014
2014 완료
team3 2015
team1 2015
2015 완료
team3 2016
team1 2016
2016 완료
team3 2017
team1 2017
2017 완료
team3 2018
team1 2018
2018 완료
team3 2019
team1 2019
2019 완료
team3 2020
team1 2020
2020 완료
team3 2021
team1 2021
2021 완료
team3 2022
team1 2022
2022 완료
<<<롯데.xlsx>>>
team3 2002
team1 2002
2002 완료
team3 2003
team1 2003
2003 완료
team3 2004
team1 2004
2004 완료
team3 2005
team1 2005
2005 완료
team3 2006
team1 2006
2006 완료
team3 2007
team1 2007
2007 완료
team3 2008
team1 2008
2008 완료
team3 2009
team1 2009
2009 완료
team3 2010
team1 2010
2010 완료
team3 2011
team1 2011
2011 완료
team3 2012
team1 2012
2012 완료
team3 2013
team1 2013
2013 완료
team3 2014
team1 2014
2014 완료
team3 2015
team1 2015
2015 완료
team3 2016
team1 2016
2016 완료
team3 2017
team1 2017
2017 완료
team3 2018
team1 2018
2018 완료
team3 2019
team1 2019
2019 완료
team3 2020
team1 2020
2020 완료
team3 2021
team1 2021
2021 완료
team3 2022
team1 2022
2022 완료
<<<삼성.xlsx>>>
team3 2002
team1 2002
2002 완료
team3 2003
team1 2003
2003 완료
team3 2004
team1 2004
2004 완료
team3 2005
team1 2005
2005 완료
team3 2006
team1 2006
2006 완료
team3 2007
team1 2007
2007 완료
team3 2008
team1 2008
2008 완료
team3 2009
team1 2009
2009 완료
team3 2010
team1 2010
2010 완료
team3 2011
team1 2011
2011 완료
team3 2012
team1 2012
2012 완료
team3 2013
team1 2013
2013 완료
team3 2014
team1 2014
2014 완료
team3 2015
team1 2015
2015 완료
team3 2016
team1 2016
2016 완료
team3 2017
team1 2017
2017 완료
team3 2018
team1 2018
2018 완료
team3 2019
team1 2019
2019 완료
team3 2020
team1 2020
2020 완료
team3 2021
team1 2021
2021 완료
team3 2022
team1 2022
2022 완료
<<<우리.xlsx>>>
team3 2008
team1 2008
2008 완료
<<<키움.xlsx>>>
team3 2019
team1 2019
2019 완료
team3 2020
team1 2020
2020 완료
team3 2021
team1 2021
2021 완료
team3 2022
team1 2022
2022 완료
<<<한화.xlsx>>>
team3 2002
team1 2002
2002 완료
team3 2003
team1 2003
2003 완료
team3 2004
team1 2004
2004 완료
team3 2005
team1 2005
2005 완료
team3 2006
team1 2006
2006 완료
team3 2007
team1 2007
2007 완료
team3 2008
team1 2008
2008 완료
team3 2009
team1 2009
2009 완료
team3 2010
team1 2010
2010 완료
team3 2011
team1 2011
2011 완료
team3 2012
team1 2012
2012 완료
team3 2013
team1 2013
2013 완료
team3 2014
team1 2014
2014 완료
team3 2015
team1 2015
2015 완료
team3 2016
team1 2016
2016 완료
team3 2017
team1 2017
2017 완료
team3 2018
team1 2018
2018 완료
team3 2019
team1 2019
2019 완료
team3 2020
team1 2020
2020 완료
team3 2021
team1 2021
2021 완료
team3 2022
team1 2022
2022 완료
<<<현대.xlsx>>>
team3 2002
team1 2002
2002 완료
team3 2003
team1 2003
2003 완료
team3 2004
team1 2004
2004 완료
team3 2005
team1 2005
2005 완료
team3 2006
team1 2006
2006 완료
team3 2007
team1 2007
2007 완료
<<<히어로즈.xlsx>>>
team3 2009
team1 2009
2009 완료

In [25]:
ex = pd.ExcelFile(f'by_team3/KT.xlsx')
ex_n = ex.sheet_names
ex.parse(ex_n[0])[['P/PA']]

    P/PA
0   3.24
1   3.57
2   4.00
3   4.38
4   3.77
5   4.28
6   4.00
7   4.02
8   3.91
9   3.96
10  3.62
11  3.67
12  4.17
13  4.10
14  3.93
15  3.12
16  4.25
17  4.00
18  3.40
19  3.20
20  4.26
21  4.31
22  3.37
23  3.61
24  4.42
25  4.52
26  3.45
27  3.74
28  3.40
29  3.69
30     -
31     -
32     -
33     -
34     -
35     -
36     -
37  3.50
38  2.50
39     -
40     -
41     -
42  6.00
43     -
44     -

In [20]:
##### 기본 기록 3 #####
go_to_page('#cphContents_cphContents_cphContents_udpContent > div.row > div.tab-depth3 > ul > li:nth-child(2) > a')

years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')
for idx, year in enumerate(years[20:]):    
    go_to_page(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({idx+21})')
    print(f'<<<{year.text.strip()}>>>')
    
    teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
    for i, item in enumerate(teams_soup):
        go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
        print(f'{item.text.strip()}')
        
        df_hitter_record = make_dataframe()

        # 페이지 길이
        # 페이지 번호 길이
        page_btn = soup.select("div.paging > a")     
        page_range = 2 if len(page_btn) == 1 else len(page_btn)-1
        
        page_lines = []
        for j in range(1, page_range):
            # 페이지 이동
            go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

            # 데이터프레임에 선수 정보 한 행씩 추가
            players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
            for player in players_list:
                page_lines.append(player.text.strip().split('\n'))
        
        for line in page_lines:
            df_hitter_record.loc[len(df_hitter_record)] = line
        
        
        # 엑셀에 저장
        if f'{item.text}.xlsx' in os.listdir('by_team3'):
            writer = pd.ExcelWriter(f'by_team3/{item.text.strip()}.xlsx', mode='a', engine='openpyxl')
        else:
            writer = pd.ExcelWriter(f'by_team3/{item.text.strip()}.xlsx', engine='xlsxwriter')
        df_hitter_record.to_excel(writer, sheet_name=f'{year.text.strip()}', index=False)
        print(f'{item.text.strip()} 완료')
        writer.save()
        
        go_to_page('#cphContents_cphContents_cphContents_ucPager_btnNo1')       
writer.close()

<<<2002>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2003>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2004>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2005>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2006>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2007>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2008>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2009>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2010>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2011>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2012>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2013>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2014>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2015>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2016>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=106.0.5249.103)
Stacktrace:
Backtrace:
	Ordinal0 [0x00EB1ED3+2236115]
	Ordinal0 [0x00E492F1+1807089]
	Ordinal0 [0x00D566FD+812797]
	Ordinal0 [0x00D592B4+823988]
	Ordinal0 [0x00D59165+823653]
	Ordinal0 [0x00D59400+824320]
	Ordinal0 [0x00D897BC+1021884]
	Ordinal0 [0x00D87A5B+1014363]
	Ordinal0 [0x00D866E7+1009383]
	Ordinal0 [0x00D7C416+967702]
	Ordinal0 [0x00DA1A8C+1120908]
	Ordinal0 [0x00D7BD84+966020]
	Ordinal0 [0x00DA1CA4+1121444]
	Ordinal0 [0x00DB59E2+1202658]
	Ordinal0 [0x00DA18A6+1120422]
	Ordinal0 [0x00D7A73D+960317]
	Ordinal0 [0x00D7B71F+964383]
	GetHandleVerifier [0x0115E7E2+2743074]
	GetHandleVerifier [0x011508D4+2685972]
	GetHandleVerifier [0x00F42BAA+532202]
	GetHandleVerifier [0x00F41990+527568]
	Ordinal0 [0x00E5080C+1837068]
	Ordinal0 [0x00E54CD8+1854680]
	Ordinal0 [0x00E54DC5+1854917]
	Ordinal0 [0x00E5ED64+1895780]
	BaseThreadInitThunk [0x75696739+25]
	RtlGetFullPathName_UEx [0x771A8FD2+1218]
	RtlGetFullPathName_UEx [0x771A8F9D+1165]

In [144]:
##### 기본 기록 3 #####
go_to_page('#cphContents_cphContents_cphContents_udpContent > div.row > div.tab-depth3 > ul > li:nth-child(2) > a')

years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')[:-1]
for idx, year in enumerate(years[20:]):    
    go_to_page(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({idx+21})')
    
    teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
    for i, item in enumerate(teams_soup):
        go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
        
        df_hitter_record = make_dataframe()

        # 페이지 길이
        # 페이지 번호 길이
        page_btn = soup.select("div.paging > a")     
        page_range = 2 if len(page_btn) == 1 else len(page_btn)-1
        
        page_lines = []
        for j in range(1, page_range):
            # 페이지 이동
            go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

            # 데이터프레임에 선수 정보 한 행씩 추가
            players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
            for player in players_list:
                page_lines.append(player.text.strip().split('\n'))
        
        for line in page_lines:
            df_hitter_record.loc[len(df_hitter_record)] = line
        
        
        # 엑셀에 저장
        df = pd.read_excel(f'by_team/{item.text.strip()}.xslx', sheet_name=f'{year.text.strip()}')
        df = pd.concat([df, df_hitter_record], axis=1)
        # 중복 열 제거
        df = df.loc[:, ~df.T.duplicated()]
        
        writer = pd.ExcelWriter(f'by_team/{item.text.strip()}.xlsx', mode='a', engine='openpyxl', if_sheet_exists = 'replace')
        df.to_excel(writer, sheet_name=f'{year.text.strip()}', index=False)
        writer.save()
        
        driver.find_element(By.CSS_SELECTOR, '#cphContents_cphContents_cphContents_ucPager_btnNo1').click()       
writer.close()

KeyboardInterrupt:

In [16]:
# 기본기록1 + 기본기록2
# by_team1, by_team2 파일 합치기
byteam2_list = os.listdir('by_team2')
for team2 in byteam2_list:
    ex = pd.ExcelFile(f'by_team2/{team2}')
    print(f'<<<{team2}>>>')
    for s in ex.sheet_names:
        df2 = ex.parse(s)
        print(f'team2 {s}')
        df1 = pd.read_excel(f'by_team1/{team2}', sheet_name=s)
        print(f'team1 {s}')
        
        df3 = pd.concat([df1,df2], axis=1)
        df3 = df3.loc[:, ~df3.T.duplicated()]
        
        writer = pd.ExcelWriter(f'by_team1/{team2}', mode='a', engine='openpyxl', if_sheet_exists = 'replace')
        df3.to_excel(writer, sheet_name=s, index=False)
        print(f'{s} 완료')
        writer.save()
writer.close()

<<<KIA.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<KT.xlsx>>>
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<LG.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<NC.xlsx>>>
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<SK.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
<<<SSG.xlsx>>>
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<넥센.xlsx>>>
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
<<<두산.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<롯데.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<삼성.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<우리.xlsx>>>
team2 2008
team1 2008
2008 완료
<<<키움.xlsx>>>
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<한화.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<현대.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
<<<히어로즈.xlsx>>>
team2 2009
team1 2009
2009 완료

In [18]:
team_fin = os.listdir('by_team1')

In [29]:
team1_kt = pd.read_excel(f'by_team1/{team_fin[1]}', sheet_name='2015')

In [19]:
for t in team_fin:
    ex = pd.ExcelFile(f'by_team1/{t}')
    ex_sheets = ex.sheet_names
    for s in ex_sheets:
        df_tmp = ex.parse(s)
        df_cols = df_tmp.columns
        for c in df_cols:
            if re.findall('[.1]', c):
                print(f'=========={t} {s}==========')

In [33]:
ex = pd.ExcelFile('by_team/두산.xlsx')
ex.sheet_names  # see all sheet names

# ex.parse(sheet_name)  # read a specific sheet to DataFrame

AttributeError: 'str' object has no attribute 'sheet_name'

In [35]:
df_cols

Index(['순위', '선수명', '팀명', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'TB', 'RBI', 'SAC', 'SF', 'BB', 'IBB', 'HBP', 'SO', 'GDP', 'SLG', 'OBP',
       'OPS', 'MH', 'RISP', 'PH-BA'],
      dtype='object')

In [ ]:
if (re.findall('[.1]', c) for c in df_cols):

In [15]:
import openpyxl
wb = openpyxl.load_workbook('by_team2/현대.xlsx')
wb.remove_sheet(wb['2008'])
wb.save('by_team2/현대.xlsx')

C:\Users\wbs04\AppData\Local\Temp\ipykernel_868\3954885852.py:3: DeprecationWarning: Call to deprecated function remove_sheet (Use wb.remove(worksheet) or del wb[sheetname]).
  wb.remove_sheet(wb['2008'])

In [ ]:
work

In [ ]:
byteam1_list = os.listdir('by_team1')
for team1 in byteam1_list:
    ex = pd.ExcelFile(f'by_team1/{team1}')
    print(f'<<<{team1}>>>')
    for s in ex.sheet_names:
        df1 = ex.parse(s)
        print(f'team2 {s}')
        df1 = pd.read_excel(f'by_team1/{team2}', sheet_name=s)
        print(f'team1 {s}')
        
        df3 = pd.concat([df1,df2], axis=1)
        df3 = df3.loc[:, ~df3.T.duplicated()]
        
        writer = pd.ExcelWriter(f'by_team1/{team2}', mode='a', engine='openpyxl', if_sheet_exists = 'replace')
        df3.to_excel(writer, sheet_name=s, index=False)
        print(f'{s} 완료')
        writer.save()
writer.close()

In [ ]:
['순위.1', '선수명.1', '팀명.1', 'AVG.1']

In [49]:
a = pd.read_excel('by_team1/KT.xlsx', sheet_name='2015')
a

,순위,선수명,팀명,AVG,G,PA,AB,R,H,2B,...,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,김선민,KT,0.429,23,38,35,2,15,2,...,0.0,0.0,1.0,0.0,0.400,0.400,0.800,0.0,0.000,0.000
1,2,마르테,KT,0.348,115,487,425,85,148,32,...,0.0,0.0,4.0,2.0,0.375,0.444,0.819,2.0,0.333,0.000
2,3,댄블랙,KT,0.333,54,225,198,25,66,10,...,0.0,6.0,79.0,3.0,0.534,0.417,0.951,43.0,0.330,0.600
3,4,장성호,KT,0.309,49,114,94,11,29,4,...,3.0,3.0,92.0,10.0,0.477,0.408,0.885,33.0,0.376,0.438
4,5,이대형,KT,0.302,140,616,546,86,165,23,...,2.0,6.0,71.0,10.0,0.562,0.387,0.949,45.0,0.321,0.000
5,6,박경수,KT,0.284,137,537,440,75,125,30,...,0.0,0.0,9.0,3.0,0.485,0.356,0.841,6.0,0.250,0.167
6,7,장성우,KT,0.284,133,491,433,55,123,20,...,0.0,19.0,97.0,13.0,0.551,0.441,0.992,32.0,0.420,0.500
7,8,김상현,KT,0.280,134,539,475,71,133,20,...,7.0,9.0,101.0,13.0,0.563,0.402,0.965,46.0,0.302,0.000
8,8,박기혁,KT,0.280,126,350,300,27,84,13,...,0.0,4.0,32.0,10.0,0.346,0.333,0.679,27.0,0.355,0.154
9,10,김민혁,KT,0.276,82,179,156,21,43,2,...,0.0,1.0,63.0,11.0,0.458,0.389,0.847,35.0,0.297,0.500
10,11,윤요섭,KT,0.264,74,159,148,17,39,4,...,1.0,2.0,126.0,8.0,0.362,0.362,0.724,40.0,0.294,0.333
11,12,박용근,KT,0.263,27,86,76,7,20,6,...,8.0,6.0,72.0,10.0,0.596,0.393,0.989,41.0,0.271,0.000
12,13,오정복,KT,0.259,66,278,239,34,62,11,...,0.0,6.0,56.0,9.0,0.416,0.345,0.761,35.0,0.287,0.333
13,14,하준호,KT,0.258,80,279,248,33,64,10,...,0.0,1.0,22.0,2.0,0.312,0.359,0.671,5.0,0.238,0.125
14,15,김사연,KT,0.254,72,248,228,31,58,7,...,0.0,1.0,22.0,1.0,0.333,0.252,0.585,4.0,0.281,0.125
15,16,송민섭,KT,0.250,28,51,44,3,11,3,...,0.0,1.0,10.0,0.0,0.318,0.346,0.664,0.0,0.000,0.333
16,16,윤도경,KT,0.250,4,4,4,0,1,0,...,0.0,4.0,25.0,1.0,0.258,0.307,0.565,2.0,0.250,0.000
17,18,모상기,KT,0.231,8,15,13,2,3,0,...,0.0,0.0,12.0,2.0,0.264,0.296,0.560,3.0,0.217,0.222
18,18,이지찬,KT,0.231,34,42,39,4,9,2,...,0.0,0.0,11.0,1.0,0.171,0.261,0.432,1.0,0.286,0.000
19,20,김영환,KT,0.229,37,49,48,4,11,0,...,0.0,0.0,3.0,0.0,0.167,0.211,0.378,0.0,0.333,0.000
20,21,조중근,KT,0.222,25,39,36,4,8,0,...,0.0,0.0,13.0,0.0,0.190,0.167,0.357,2.0,0.091,0.000
21,22,김종민,KT,0.219,26,35,32,2,7,0,...,0.0,1.0,3.0,0.0,0.000,0.250,0.250,0.0,0.000,0.000
22,23,김진곤,KT,0.212,67,87,85,11,18,1,...,0.0,0.0,2.0,0.0,0.000,0.167,0.167,0.0,0.000,0.000
23,24,김태훈,KT,0.209,22,44,43,3,9,1,...,0.0,0.0,0.0,0.0,-,-,-,0.0,0.000,0.000
24,25,신명철,KT,0.209,89,168,134,12,28,2,...,0.0,0.0,0.0,0.0,-,-,-,0.0,0.000,0.000
25,26,김동명,KT,0.196,21,66,51,8,10,3,...,0.0,0.0,2.0,0.0,0.000,0.000,0.000,0.0,0.000,0.000
26,27,심우준,KT,0.169,106,146,142,16,24,7,...,0.0,0.0,2.0,0.0,0.000,0.000,0.000,0.0,0.000,0.000
27,28,문상철,KT,0.163,51,88,80,10,13,3,...,0.0,0.0,0.0,0.0,-,-,-,0.0,0.000,0.000
28,29,이창진,KT,0.158,13,20,19,1,3,1,...,0.0,0.0,0.0,0.0,-,-,-,0.0,0.000,0.000
29,30,배병옥,KT,0.092,66,68,65,8,6,1,...,0.0,0.0,0.0,0.0,-,0.000,0.000,0.0,0.000,0.000
30,31,고영표,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,31,김기표,KT,-,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,31,김민수,KT,-,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,31,김사율,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,31,배우열,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,31,심재민,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,31,안상빈,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,31,윤여운,KT,0.000,2,2,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,31,이해창,KT,0.000,5,4,3,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,31,장시환,KT,-,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,31,정대현,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,31,조무근,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,31,홍성무,KT,-,3,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,31,홍성용,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,31,황덕균,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
print(a.columns)
print(len(a.columns))

Index(['순위', '선수명', '팀명', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'TB', 'RBI', 'SAC', 'SF', '순위.1', '선수명.1', '팀명.1', 'AVG.1', 'BB', 'IBB',
       'HBP', 'SO', 'GDP', 'SLG', 'OBP', 'OPS', 'MH', 'RISP', 'PH-BA'],
      dtype='object')
31

In [52]:
b = a.loc[:, ~a.T.duplicated()]
b

,순위,선수명,팀명,AVG,G,PA,AB,R,H,2B,...,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,김선민,KT,0.429,23,38,35,2,15,2,...,0.0,0.0,1.0,0.0,0.400,0.400,0.800,0.0,0.000,0.000
1,2,마르테,KT,0.348,115,487,425,85,148,32,...,0.0,0.0,4.0,2.0,0.375,0.444,0.819,2.0,0.333,0.000
2,3,댄블랙,KT,0.333,54,225,198,25,66,10,...,0.0,6.0,79.0,3.0,0.534,0.417,0.951,43.0,0.330,0.600
3,4,장성호,KT,0.309,49,114,94,11,29,4,...,3.0,3.0,92.0,10.0,0.477,0.408,0.885,33.0,0.376,0.438
4,5,이대형,KT,0.302,140,616,546,86,165,23,...,2.0,6.0,71.0,10.0,0.562,0.387,0.949,45.0,0.321,0.000
5,6,박경수,KT,0.284,137,537,440,75,125,30,...,0.0,0.0,9.0,3.0,0.485,0.356,0.841,6.0,0.250,0.167
6,7,장성우,KT,0.284,133,491,433,55,123,20,...,0.0,19.0,97.0,13.0,0.551,0.441,0.992,32.0,0.420,0.500
7,8,김상현,KT,0.280,134,539,475,71,133,20,...,7.0,9.0,101.0,13.0,0.563,0.402,0.965,46.0,0.302,0.000
8,8,박기혁,KT,0.280,126,350,300,27,84,13,...,0.0,4.0,32.0,10.0,0.346,0.333,0.679,27.0,0.355,0.154
9,10,김민혁,KT,0.276,82,179,156,21,43,2,...,0.0,1.0,63.0,11.0,0.458,0.389,0.847,35.0,0.297,0.500
10,11,윤요섭,KT,0.264,74,159,148,17,39,4,...,1.0,2.0,126.0,8.0,0.362,0.362,0.724,40.0,0.294,0.333
11,12,박용근,KT,0.263,27,86,76,7,20,6,...,8.0,6.0,72.0,10.0,0.596,0.393,0.989,41.0,0.271,0.000
12,13,오정복,KT,0.259,66,278,239,34,62,11,...,0.0,6.0,56.0,9.0,0.416,0.345,0.761,35.0,0.287,0.333
13,14,하준호,KT,0.258,80,279,248,33,64,10,...,0.0,1.0,22.0,2.0,0.312,0.359,0.671,5.0,0.238,0.125
14,15,김사연,KT,0.254,72,248,228,31,58,7,...,0.0,1.0,22.0,1.0,0.333,0.252,0.585,4.0,0.281,0.125
15,16,송민섭,KT,0.250,28,51,44,3,11,3,...,0.0,1.0,10.0,0.0,0.318,0.346,0.664,0.0,0.000,0.333
16,16,윤도경,KT,0.250,4,4,4,0,1,0,...,0.0,4.0,25.0,1.0,0.258,0.307,0.565,2.0,0.250,0.000
17,18,모상기,KT,0.231,8,15,13,2,3,0,...,0.0,0.0,12.0,2.0,0.264,0.296,0.560,3.0,0.217,0.222
18,18,이지찬,KT,0.231,34,42,39,4,9,2,...,0.0,0.0,11.0,1.0,0.171,0.261,0.432,1.0,0.286,0.000
19,20,김영환,KT,0.229,37,49,48,4,11,0,...,0.0,0.0,3.0,0.0,0.167,0.211,0.378,0.0,0.333,0.000
20,21,조중근,KT,0.222,25,39,36,4,8,0,...,0.0,0.0,13.0,0.0,0.190,0.167,0.357,2.0,0.091,0.000
21,22,김종민,KT,0.219,26,35,32,2,7,0,...,0.0,1.0,3.0,0.0,0.000,0.250,0.250,0.0,0.000,0.000
22,23,김진곤,KT,0.212,67,87,85,11,18,1,...,0.0,0.0,2.0,0.0,0.000,0.167,0.167,0.0,0.000,0.000
23,24,김태훈,KT,0.209,22,44,43,3,9,1,...,0.0,0.0,0.0,0.0,-,-,-,0.0,0.000,0.000
24,25,신명철,KT,0.209,89,168,134,12,28,2,...,0.0,0.0,0.0,0.0,-,-,-,0.0,0.000,0.000
25,26,김동명,KT,0.196,21,66,51,8,10,3,...,0.0,0.0,2.0,0.0,0.000,0.000,0.000,0.0,0.000,0.000
26,27,심우준,KT,0.169,106,146,142,16,24,7,...,0.0,0.0,2.0,0.0,0.000,0.000,0.000,0.0,0.000,0.000
27,28,문상철,KT,0.163,51,88,80,10,13,3,...,0.0,0.0,0.0,0.0,-,-,-,0.0,0.000,0.000
28,29,이창진,KT,0.158,13,20,19,1,3,1,...,0.0,0.0,0.0,0.0,-,-,-,0.0,0.000,0.000
29,30,배병옥,KT,0.092,66,68,65,8,6,1,...,0.0,0.0,0.0,0.0,-,0.000,0.000,0.0,0.000,0.000
30,31,고영표,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,31,김기표,KT,-,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,31,김민수,KT,-,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,31,김사율,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,31,배우열,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,31,심재민,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,31,안상빈,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,31,윤여운,KT,0.000,2,2,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,31,이해창,KT,0.000,5,4,3,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,31,장시환,KT,-,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,31,정대현,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,31,조무근,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,31,홍성무,KT,-,3,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,31,홍성용,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,31,황덕균,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
print(b.columns)
print(len(b.columns))

Index(['순위', '선수명', '팀명', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'TB', 'RBI', 'SAC', 'SF', '순위.1', '선수명.1', '팀명.1', 'AVG.1', 'BB', 'IBB',
       'HBP', 'SO', 'GDP', 'SLG', 'OBP', 'OPS', 'MH', 'RISP', 'PH-BA'],
      dtype='object')
31

In [57]:
b = b.drop(['순위.1', '선수명.1', '팀명.1', 'AVG.1'], axis='columns')
b

,순위,선수명,팀명,AVG,G,PA,AB,R,H,2B,...,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,김선민,KT,0.429,23,38,35,2,15,2,...,0.0,0.0,1.0,0.0,0.400,0.400,0.800,0.0,0.000,0.000
1,2,마르테,KT,0.348,115,487,425,85,148,32,...,0.0,0.0,4.0,2.0,0.375,0.444,0.819,2.0,0.333,0.000
2,3,댄블랙,KT,0.333,54,225,198,25,66,10,...,0.0,6.0,79.0,3.0,0.534,0.417,0.951,43.0,0.330,0.600
3,4,장성호,KT,0.309,49,114,94,11,29,4,...,3.0,3.0,92.0,10.0,0.477,0.408,0.885,33.0,0.376,0.438
4,5,이대형,KT,0.302,140,616,546,86,165,23,...,2.0,6.0,71.0,10.0,0.562,0.387,0.949,45.0,0.321,0.000
5,6,박경수,KT,0.284,137,537,440,75,125,30,...,0.0,0.0,9.0,3.0,0.485,0.356,0.841,6.0,0.250,0.167
6,7,장성우,KT,0.284,133,491,433,55,123,20,...,0.0,19.0,97.0,13.0,0.551,0.441,0.992,32.0,0.420,0.500
7,8,김상현,KT,0.280,134,539,475,71,133,20,...,7.0,9.0,101.0,13.0,0.563,0.402,0.965,46.0,0.302,0.000
8,8,박기혁,KT,0.280,126,350,300,27,84,13,...,0.0,4.0,32.0,10.0,0.346,0.333,0.679,27.0,0.355,0.154
9,10,김민혁,KT,0.276,82,179,156,21,43,2,...,0.0,1.0,63.0,11.0,0.458,0.389,0.847,35.0,0.297,0.500
10,11,윤요섭,KT,0.264,74,159,148,17,39,4,...,1.0,2.0,126.0,8.0,0.362,0.362,0.724,40.0,0.294,0.333
11,12,박용근,KT,0.263,27,86,76,7,20,6,...,8.0,6.0,72.0,10.0,0.596,0.393,0.989,41.0,0.271,0.000
12,13,오정복,KT,0.259,66,278,239,34,62,11,...,0.0,6.0,56.0,9.0,0.416,0.345,0.761,35.0,0.287,0.333
13,14,하준호,KT,0.258,80,279,248,33,64,10,...,0.0,1.0,22.0,2.0,0.312,0.359,0.671,5.0,0.238,0.125
14,15,김사연,KT,0.254,72,248,228,31,58,7,...,0.0,1.0,22.0,1.0,0.333,0.252,0.585,4.0,0.281,0.125
15,16,송민섭,KT,0.250,28,51,44,3,11,3,...,0.0,1.0,10.0,0.0,0.318,0.346,0.664,0.0,0.000,0.333
16,16,윤도경,KT,0.250,4,4,4,0,1,0,...,0.0,4.0,25.0,1.0,0.258,0.307,0.565,2.0,0.250,0.000
17,18,모상기,KT,0.231,8,15,13,2,3,0,...,0.0,0.0,12.0,2.0,0.264,0.296,0.560,3.0,0.217,0.222
18,18,이지찬,KT,0.231,34,42,39,4,9,2,...,0.0,0.0,11.0,1.0,0.171,0.261,0.432,1.0,0.286,0.000
19,20,김영환,KT,0.229,37,49,48,4,11,0,...,0.0,0.0,3.0,0.0,0.167,0.211,0.378,0.0,0.333,0.000
20,21,조중근,KT,0.222,25,39,36,4,8,0,...,0.0,0.0,13.0,0.0,0.190,0.167,0.357,2.0,0.091,0.000
21,22,김종민,KT,0.219,26,35,32,2,7,0,...,0.0,1.0,3.0,0.0,0.000,0.250,0.250,0.0,0.000,0.000
22,23,김진곤,KT,0.212,67,87,85,11,18,1,...,0.0,0.0,2.0,0.0,0.000,0.167,0.167,0.0,0.000,0.000
23,24,김태훈,KT,0.209,22,44,43,3,9,1,...,0.0,0.0,0.0,0.0,-,-,-,0.0,0.000,0.000
24,25,신명철,KT,0.209,89,168,134,12,28,2,...,0.0,0.0,0.0,0.0,-,-,-,0.0,0.000,0.000
25,26,김동명,KT,0.196,21,66,51,8,10,3,...,0.0,0.0,2.0,0.0,0.000,0.000,0.000,0.0,0.000,0.000
26,27,심우준,KT,0.169,106,146,142,16,24,7,...,0.0,0.0,2.0,0.0,0.000,0.000,0.000,0.0,0.000,0.000
27,28,문상철,KT,0.163,51,88,80,10,13,3,...,0.0,0.0,0.0,0.0,-,-,-,0.0,0.000,0.000
28,29,이창진,KT,0.158,13,20,19,1,3,1,...,0.0,0.0,0.0,0.0,-,-,-,0.0,0.000,0.000
29,30,배병옥,KT,0.092,66,68,65,8,6,1,...,0.0,0.0,0.0,0.0,-,0.000,0.000,0.0,0.000,0.000
30,31,고영표,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,31,김기표,KT,-,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,31,김민수,KT,-,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,31,김사율,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,31,배우열,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,31,심재민,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,31,안상빈,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,31,윤여운,KT,0.000,2,2,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,31,이해창,KT,0.000,5,4,3,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,31,장시환,KT,-,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,31,정대현,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,31,조무근,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,31,홍성무,KT,-,3,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,31,홍성용,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,31,황덕균,KT,-,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
print(b.columns)
print(len(b.columns))

Index(['순위', '선수명', '팀명', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'TB', 'RBI', 'SAC', 'SF', 'BB', 'IBB', 'HBP', 'SO', 'GDP', 'SLG', 'OBP',
       'OPS', 'MH', 'RISP', 'PH-BA'],
      dtype='object')
27

In [ ]:
byteam1_list = os.listdir('by_team1')
for file_name in byteam1_list:
    ex = pd.ExcelFile(f'by_team1/{file_name}.xlsx')
    ex_sheets = ex.sheet_names  # see all sheet names
    for s in ex_sheets
    sheet

# ex.parse(sheet_name)  # read a specific sheet to DataFrame

In [8]:
byteam2_list = os.listdir('by_team2')
for team2 in byteam2_list:
    ex = pd.ExcelFile(f'by_team2/{team2}')
    print(f'<<<{team2}>>>')
    for s in ex.sheet_names:
        df2 = ex.parse(s)
        print(f'team2 {s}')
        df1 = pd.read_excel(f'by_team1/{team2}', sheet_name=s)
        print(f'team1 {s}')
        
        df3 = pd.concat([df1,df2], axis=1)
        df3 = df3.loc[:, ~df3.T.duplicated()]
        
        writer = pd.ExcelWriter(f'by_team1/{team2}', mode='a', engine='openpyxl', if_sheet_exists = 'replace')
        df3.to_excel(writer, sheet_name=s, index=False)
        print(f'{s} 완료')
        writer.save()

<<<KIA.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<KT.xlsx>>>
team2 2002

ValueError: Worksheet named '2002' not found

In [16]:
writer.close()

In [20]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = [5, 6, 7, 8, 9, 10]

In [21]:
a[-len(b):]

[5, 6, 7, 8, 9, 10]

In [232]:
writer.close()

C:\Users\wbs04\miniconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [81]:
page_lines_2 = []
players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
for player in players_list:
    page_lines_2.append(player.text.strip().split('\n')[4+1:])

In [129]:
df_hitter_record

Empty DataFrame
Columns: [순위, 선수명, 팀명, AVG, BB, IBB, HBP, SO, GDP, SLG, OBP, OPS, MH, RISP, PH-BA]
Index: []

In [128]:
page_lines

[['1',
  '최준석',
  '롯데',
  '0.333',
  '2',
  '3',
  '3',
  '0',
  '1',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0'],
 ['2',
  '에레라',
  '롯데',
  '0.305',
  '53',
  '222',
  '210',
  '23',
  '64',
  '8',
  '1',
  '6',
  '92',
  '20',
  '2',
  '1'],
 ['3',
  '최기문',
  '롯데',
  '0.285',
  '123',
  '415',
  '383',
  '34',
  '109',
  '22',
  '4',
  '8',
  '163',
  '50',
  '2',
  '0'],
 ['4',
  '김응국',
  '롯데',
  '0.284',
  '116',
  '412',
  '373',
  '35',
  '106',
  '15',
  '3',
  '3',
  '136',
  '49',
  '2',
  '1'],
 ['5',
  '이대호',
  '롯데',
  '0.278',
  '74',
  '281',
  '255',
  '27',
  '71',
  '19',
  '0',
  '8',
  '114',
  '32',
  '0',
  '0'],
 ['6',
  '이동욱',
  '롯데',
  '0.268',
  '79',
  '189',
  '168',
  '14',
  '45',
  '6',
  '1',
  '3',
  '62',
  '20',
  '4',
  '1'],
 ['7',
  '김대익',
  '롯데',
  '0.264',
  '91',
  '332',
  '303',
  '36',
  '80',
  '12',
  '0',
  '3',
  '101',
  '21',
  '5',
  '1'],
 ['8',
  '허문회',
  '롯데',
  '0.263',
  '92',
  '233',
  '209',
  '18',
  '55',
  '11',
  '0',
  '6',
  '84',
  '21',
  '0',
  '1'],
 ['9',
  '박정태',
  '롯데',
  '0.262',
  '103',
  '308',
  '267',
  '26',
  '70',
  '14',
  '1',
  '7',
  '107',
  '38',
  '2',
  '0'],
 ['10',
  '박현승',
  '롯데',
  '0.260',
  '94',
  '379',
  '346',
  '37',
  '90',
  '15',
  '0',
  '9',
  '132',
  '35',
  '1',
  '5'],
 ['11',
  '김정현',
  '롯데',
  '0.250',
  '24',
  '76',
  '68',
  '10',
  '17',
  '2',
  '0',
  '1',
  '22',
  '6',
  '0',
  '0'],
 ['11',
  '엄정대',
  '롯데',
  '0.250',
  '51',
  '74',
  '64',
  '14',
  '16',
  '3',
  '0',
  '1',
  '22',
  '6',
  '0',
  '1'],
 ['13',
  '박기혁',
  '롯데',
  '0.243',
  '66',
  '146',
  '136',
  '15',
  '33',
  '6',
  '0',
  '0',
  '39',
  '8',
  '1',
  '0'],
 ['14',
  '박종윤',
  '롯데',
  '0.241',
  '10',
  '31',
  '29',
  '2',
  '7',
  '1',
  '0',
  '0',
  '8',
  '5',
  '0',
  '1'],
 ['15',
  '조성환',
  '롯데',
  '0.235',
  '104',
  '293',
  '255',
  '38',
  '60',
  '14',
  '0',
  '0',
  '74',
  '21',
  '10',
  '3'],
 ['16',
  '김주찬',
  '롯데',
  '0.220',
  '84',
  '291',
  '264',
  '25',
  '58',
  '13',
  '4',
  '7',
  '100',
  '25',
  '7',
  '1'],
 ['17',
  '이계성',
  '롯데',
  '0.218',
  '69',
  '135',
  '124',
  '13',
  '27',
  '7',
  '0',
  '1',
  '37',
  '7',
  '0',
  '1'],
 ['18',
  '박경진',
  '롯데',
  '0.205',
  '39',
  '42',
  '39',
  '4',
  '8',
  '0',
  '1',
  '0',
  '10',
  '2',
  '1',
  '0'],
 ['19',
  '신명철',
  '롯데',
  '0.205',
  '81',
  '134',
  '127',
  '12',
  '26',
  '4',
  '2',
  '2',
  '40',
  '10',
  '2',
  '1'],
 ['20',
  '허일상',
  '롯데',
  '0.200',
  '42',
  '58',
  '50',
  '3',
  '10',
  '1',
  '0',
  '2',
  '17',
  '4',
  '4',
  '0'],
 ['21',
  '김태균',
  '롯데',
  '0.193',
  '67',
  '164',
  '145',
  '11',
  '28',
  '7',
  '0',
  '3',
  '44',
  '16',
  '3',
  '0'],
 ['22',
  '박상민',
  '롯데',
  '0.189',
  '30',
  '43',
  '37',
  '2',
  '7',
  '1',
  '0',
  '0',
  '8',
  '2',
  '0',
  '0'],
 ['23',
  '이승화',
  '롯데',
  '0.188',
  '49',
  '174',
  '154',
  '15',
  '29',
  '5',
  '1',
  '1',
  '39',
  '10',
  '1',
  '0'],
 ['24',
  '권오현',
  '롯데',
  '0.176',
  '45',
  '84',
  '74',
  '4',
  '13',
  '6',
  '0',
  '0',
  '19',
  '1',
  '1',
  '0'],
 ['25',
  '해처',
  '롯데',
  '0.162',
  '25',
  '73',
  '68',
  '6',
  '11',
  '1',
  '0',
  '1',
  '15',
  '5',
  '0',
  '1'],
 ['26',
  '박남섭',
  '롯데',
  '0.152',
  '29',
  '34',
  '33',
  '4',
  '5',
  '1',
  '0',
  '0',
  '6',
  '0',
  '0',
  '0'],
 ['27',
  '윤재국',
  '롯데',
  '0.125',
  '32',
  '46',
  '40',
  '3',
  '5',
  '1',
  '1',
  '0',
  '8',
  '3',
  '0',
  '0'],
 ['28',
  '베로아',
  '롯데',
  '0.097',
  '11',
  '35',
  '31',
  '1',
  '3',
  '1',
  '0',
  '1',
  '7',
  '3',
  '0',
  '1'],
 ['29',
  '이명호',
  '롯데',
  '0.091',
  '7',
  '11',
  '11',
  '1',
  '1',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0'],
 ['30',
  '김사율',
  '롯데',
  '-',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['30',
  '김장현',
  '롯데',
  '-',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['30',
  '김제빈',
  '롯데',
  '-',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['30',
  '김풍철',
  '롯데',
  '-',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['30',
  '노승욱',
  '롯데',
  '-',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['30',
  '문규현',
  '롯데',
  '0.000',
  '1',
  '1',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['30',
  '에르난데스',
  '롯데',
  '-',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0']]

In [115]:
make_dataframe()

Empty DataFrame
Columns: [순위, 선수명, 팀명, AVG, G, PA, AB, R, H, 2B, 3B, HR, TB, RBI, SAC, SF, BB, IBB, HBP, SO, GDP, SLG, OBP, OPS, MH, RISP, PH-BA]
Index: []

[0 rows x 27 columns]

In [118]:
years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')[:-1]

In [122]:
years[20]

In [126]:
page_lines_2

[['0', '0', '0', '0', '0', '0.333', '0.333', '0.666', '0', '0.000', '0.000'],
 ['8', '2', '1', '28', '1', '0.438', '0.332', '0.770', '19', '0.205', '0.000'],
 ['27',
  '5',
  '3',
  '44',
  '9',
  '0.426',
  '0.337',
  '0.763',
  '23',
  '0.292',
  '0.000'],
 ['34',
  '2',
  '2',
  '58',
  '8',
  '0.365',
  '0.346',
  '0.711',
  '24',
  '0.291',
  '0.300'],
 ['19',
  '1',
  '7',
  '66',
  '6',
  '0.447',
  '0.345',
  '0.792',
  '20',
  '0.288',
  '0.000'],
 ['10', '0', '6', '34', '4', '0.369', '0.330', '0.699', '9', '0.261', '0.148'],
 ['23',
  '2',
  '0',
  '52',
  '4',
  '0.333',
  '0.315',
  '0.648',
  '19',
  '0.260',
  '0.000'],
 ['18',
  '0',
  '4',
  '37',
  '4',
  '0.402',
  '0.332',
  '0.734',
  '12',
  '0.267',
  '0.172'],
 ['32',
  '0',
  '7',
  '32',
  '4',
  '0.401',
  '0.356',
  '0.757',
  '16',
  '0.300',
  '0.176'],
 ['25',
  '0',
  '2',
  '62',
  '8',
  '0.382',
  '0.310',
  '0.692',
  '22',
  '0.138',
  '0.000'],
 ['8', '1', '0', '20', '0', '0.324', '0.329', '0.653', '5', '0.278', '0.000'],
 ['5', '0', '4', '18', '3', '0.344', '0.338', '0.682', '3', '0.133', '0.125'],
 ['9', '0', '0', '38', '6', '0.287', '0.290', '0.577', '8', '0.233', '0.250'],
 ['1', '0', '0', '11', '0', '0.276', '0.258', '0.534', '2', '0.333', '0.000'],
 ['18',
  '0',
  '7',
  '42',
  '2',
  '0.290',
  '0.300',
  '0.590',
  '15',
  '0.200',
  '0.000'],
 ['14',
  '0',
  '5',
  '75',
  '5',
  '0.379',
  '0.271',
  '0.650',
  '15',
  '0.200',
  '0.000'],
 ['10', '0', '0', '30', '2', '0.298', '0.274', '0.572', '6', '0.115', '0.100'],
 ['1', '0', '1', '11', '0', '0.256', '0.244', '0.500', '2', '0.167', '0.500'],
 ['4', '0', '0', '35', '0', '0.315', '0.227', '0.542', '3', '0.200', '0.125'],
 ['3', '0', '1', '9', '1', '0.340', '0.259', '0.599', '1', '0.000', '0.000'],
 ['14', '0', '2', '46', '2', '0.303', '0.273', '0.576', '5', '0.303', '0.091'],
 ['5', '0', '1', '9', '1', '0.216', '0.302', '0.518', '0', '0.333', '0.200'],
 ['7', '0', '12', '47', '1', '0.253', '0.277', '0.530', '7', '0.176', '0.333'],
 ['5', '0', '4', '22', '0', '0.257', '0.265', '0.522', '0', '0.067', '0.111'],
 ['2', '0', '2', '22', '2', '0.221', '0.205', '0.426', '2', '0.083', '0.167'],
 ['1', '0', '0', '12', '1', '0.182', '0.176', '0.358', '0', '0.077', '0.000'],
 ['6', '1', '0', '12', '0', '0.200', '0.239', '0.439', '1', '0.182', '0.091'],
 ['3', '0', '0', '15', '0', '0.226', '0.171', '0.397', '0', '0.111', '0.000'],
 ['0', '0', '0', '5', '0', '0.091', '0.091', '0.182', '0', '0.000', '0.000'],
 ['0', '0', '0', '0', '0', '-', '-', '-', '0', '0.000', '0.000']]

In [38]:
df1 = make_dataframe()

In [40]:
soup1 = BeautifulSoup(driver.page_source, 'html.parser')

In [41]:
a = soup1.select("#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr")
for i in a:
    df1.loc[len(df1)] = i.text.strip().split('\n')

In [42]:
df1

    순위    선수명  팀명    AVG    G   PA   AB   R    H  2B 3B  HR   TB  RBI SAC SF
0    1    박지훈  두산  0.333   34   14   12   6    4   1  0   0    5    2   0  0
1    2    박건우  두산  0.325  126  525  458  82  149  31  2   6  202   63   0  6
2    3  페르난데스  두산  0.315  141  617  540  73  170  24  0  15  239   81   0  6
3    4    조수행  두산  0.286  115  104   84  34   24   2  1   1   31    8   1  0
4    5    최용제  두산  0.279   79  119  104   7   29   3  0   0   32   15   1  1
5    6    허경민  두산  0.278  136  518  468  61  130  24  1   5  171   59   3  3
6    7    김재환  두산  0.274  137  566  475  86  130  23  2  27  238  102   0  5
7    8    양석환  두산  0.273  133  546  488  66  133  22  0  28  239   96   0  7
8    9    박계범  두산  0.267  118  385  322  44   86  12  1   5  115   46   7  3
9   10    정수빈  두산  0.259  104  351  313  50   81  19  4   3  117   37   4  2
10  11    김인태  두산  0.259  133  418  344  51   89  15  1   8  130   46   5  4
11  12    안재석  두산  0.255   96  224  200  28   51   8  2   2   69   14   0  4
12  13    전민재  두산  0.250    9    5    4   1    1   0  0   0    1    1   0  1
13  14    강승호  두산  0.239  113  340  301  47   72  16  2   7  113   37   8  3
14  15    안권수  두산  0.238   87   47   42  17   10   0  1   0   12    4   2  0
15  16    장승현  두산  0.232   92  211  177  18   41  10  0   2   57   27   6  1
16  17    박세혁  두산  0.219   96  270  237  25   52  12  0   0   64   30   3  3
17  18    권민석  두산  0.214   33   15   14   8    3   2  0   0    5    1   0  0
18  19    김재호  두산  0.209   89  251  211  23   44   8  0   1   55   24   6  3
19  20    신성현  두산  0.182   11   15   11   3    2   0  0   0    2    0   0  0
20  21    오재원  두산  0.167   45   79   72   6   12   3  0   0   15    5   0  1
21  22    국해성  두산  0.125    4    8    8   0    1   0  0   0    1    0   0  0
22  23     권휘  두산      -    2    0    0   0    0   0  0   0    0    0   0  0
23  23    김강률  두산      -    8    0    0   0    0   0  0   0    0    0   0  0
24  23    김명신  두산      -    4    0    0   0    0   0  0   0    0    0   0  0
25  23    김민규  두산      -    2    0    0   0    0   0  0   0    0    0   0  0
26  23    김민혁  두산  0.000    6    8    6   0    0   0  0   0    0    0   0  0
27  23     남호  두산      -    1    0    0   0    0   0  0   0    0    0   0  0
28  23    문대원  두산      -    1    0    0   0    0   0  0   0    0    0   0  0
29  23    박성재  두산  0.000    1    1    1   0    0   0  0   0    0    0   0  0

In [52]:
df2 = make_dataframe()
df2

Empty DataFrame
Columns: [순위, 선수명, 팀명, AVG, BB, IBB, HBP, SO, GDP, SLG, OBP, OPS, MH, RISP, PH-BA]
Index: []

In [51]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [53]:
b = soup2.select("#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr")
for j in b:
    df2.loc[len(df2)] = j.text.strip().split('\n')

In [54]:
df2

,순위,선수명,팀명,AVG,BB,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,박지훈,두산,0.333,1,0,1,3,0,0.417,0.429,0.846,0,0.333,0.000
1,2,박건우,두산,0.325,50,2,11,72,16,0.441,0.400,0.841,44,0.325,0.250
2,3,페르난데스,두산,0.315,65,3,6,35,25,0.443,0.391,0.834,48,0.279,0.000
3,4,조수행,두산,0.286,16,0,3,26,1,0.369,0.417,0.786,3,0.231,0.143
4,5,최용제,두산,0.279,11,0,2,21,0,0.308,0.356,0.664,3,0.279,0.371
5,6,허경민,두산,0.278,36,1,8,35,21,0.365,0.338,0.703,34,0.285,0.444
6,7,김재환,두산,0.274,81,3,5,127,9,0.501,0.382,0.883,40,0.338,0.500
7,8,양석환,두산,0.273,42,2,9,136,10,0.490,0.337,0.827,34,0.290,0.250
8,9,박계범,두산,0.267,44,0,9,68,8,0.357,0.368,0.725,21,0.267,0.000
9,10,정수빈,두산,0.259,29,1,3,50,7,0.374,0.326,0.700,19,0.301,0.250
10,11,김인태,두산,0.259,62,0,3,67,10,0.378,0.373,0.751,20,0.337,0.381
11,12,안재석,두산,0.255,16,0,4,53,4,0.345,0.317,0.662,11,0.213,0.182
12,13,전민재,두산,0.250,0,0,0,2,0,0.250,0.200,0.450,0,0.000,0.000
13,14,강승호,두산,0.239,22,1,6,78,8,0.375,0.301,0.676,17,0.287,0.000
14,15,안권수,두산,0.238,3,0,0,3,0,0.286,0.289,0.575,2,0.267,0.000
15,16,장승현,두산,0.232,19,0,8,50,2,0.322,0.332,0.654,8,0.365,0.000
16,17,박세혁,두산,0.219,22,0,5,43,6,0.270,0.296,0.566,11,0.258,0.273
17,18,권민석,두산,0.214,1,0,0,7,0,0.357,0.267,0.624,0,0.250,0.000
18,19,김재호,두산,0.209,29,0,2,34,7,0.261,0.306,0.567,12,0.186,0.222
19,20,신성현,두산,0.182,3,0,1,6,0,0.182,0.400,0.582,1,0.000,0.000
20,21,오재원,두산,0.167,6,0,0,18,3,0.208,0.228,0.436,1,0.050,0.111
21,22,국해성,두산,0.125,0,0,0,2,0,0.125,0.125,0.250,0,0.000,0.000
22,23,권휘,두산,-,0,0,0,0,0,-,-,-,0,0.000,0.000
23,23,김강률,두산,-,0,0,0,0,0,-,-,-,0,0.000,0.000
24,23,김명신,두산,-,0,0,0,0,0,-,-,-,0,0.000,0.000
25,23,김민규,두산,-,0,0,0,0,0,-,-,-,0,0.000,0.000
26,23,김민혁,두산,0.000,2,0,0,2,0,0.000,0.250,0.250,0,0.000,0.000
27,23,남호,두산,-,0,0,0,0,0,-,-,-,0,0.000,0.000
28,23,문대원,두산,-,0,0,0,0,0,-,-,-,0,0.000,0.000
29,23,박성재,두산,0.000,0,0,0,1,0,0.000,0.000,0.000,0,0.000,0.000

In [55]:
df3 = pd.concat([df1,df2], axis=1)

In [57]:
df3.columns

Index(['순위', '선수명', '팀명', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'TB', 'RBI', 'SAC', 'SF', '순위', '선수명', '팀명', 'AVG', 'BB', 'IBB', 'HBP',
       'SO', 'GDP', 'SLG', 'OBP', 'OPS', 'MH', 'RISP', 'PH-BA'],
      dtype='object')

In [60]:
# 중복 열 제거
df3 = df3.loc[:, ~df3.T.duplicated()]

In [61]:
df3.columns

Index(['순위', '선수명', '팀명', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'TB', 'RBI', 'SAC', 'SF', 'BB', 'IBB', 'HBP', 'SO', 'GDP', 'SLG', 'OBP',
       'OPS', 'MH', 'RISP', 'PH-BA'],
      dtype='object')

In [66]:
df2[df2.columns[4:]]

    BB IBB HBP   SO GDP    SLG    OBP    OPS  MH   RISP  PH-BA
0    1   0   1    3   0  0.417  0.429  0.846   0  0.333  0.000
1   50   2  11   72  16  0.441  0.400  0.841  44  0.325  0.250
2   65   3   6   35  25  0.443  0.391  0.834  48  0.279  0.000
3   16   0   3   26   1  0.369  0.417  0.786   3  0.231  0.143
4   11   0   2   21   0  0.308  0.356  0.664   3  0.279  0.371
5   36   1   8   35  21  0.365  0.338  0.703  34  0.285  0.444
6   81   3   5  127   9  0.501  0.382  0.883  40  0.338  0.500
7   42   2   9  136  10  0.490  0.337  0.827  34  0.290  0.250
8   44   0   9   68   8  0.357  0.368  0.725  21  0.267  0.000
9   29   1   3   50   7  0.374  0.326  0.700  19  0.301  0.250
10  62   0   3   67  10  0.378  0.373  0.751  20  0.337  0.381
11  16   0   4   53   4  0.345  0.317  0.662  11  0.213  0.182
12   0   0   0    2   0  0.250  0.200  0.450   0  0.000  0.000
13  22   1   6   78   8  0.375  0.301  0.676  17  0.287  0.000
14   3   0   0    3   0  0.286  0.289  0.575   2  0.267  0.000
15  19   0   8   50   2  0.322  0.332  0.654   8  0.365  0.000
16  22   0   5   43   6  0.270  0.296  0.566  11  0.258  0.273
17   1   0   0    7   0  0.357  0.267  0.624   0  0.250  0.000
18  29   0   2   34   7  0.261  0.306  0.567  12  0.186  0.222
19   3   0   1    6   0  0.182  0.400  0.582   1  0.000  0.000
20   6   0   0   18   3  0.208  0.228  0.436   1  0.050  0.111
21   0   0   0    2   0  0.125  0.125  0.250   0  0.000  0.000
22   0   0   0    0   0      -      -      -   0  0.000  0.000
23   0   0   0    0   0      -      -      -   0  0.000  0.000
24   0   0   0    0   0      -      -      -   0  0.000  0.000
25   0   0   0    0   0      -      -      -   0  0.000  0.000
26   2   0   0    2   0  0.000  0.250  0.250   0  0.000  0.000
27   0   0   0    0   0      -      -      -   0  0.000  0.000
28   0   0   0    0   0      -      -      -   0  0.000  0.000
29   0   0   0    1   0  0.000  0.000  0.000   0  0.000  0.000

In [20]:
ex = pd.ExcelFile('by_team/두산.xlsx')

ex.sheet_names  # see all sheet names

# ex.parse(sheet_name)  # read a specific sheet to DataFrame

['1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022']

## 투수

In [21]:
os.mkdir('pit_by_team1')

In [22]:
go_to_page('#contents > div.sub-content > div.tab-depth2 > ul > li:nth-child(2) > a')

In [23]:
##### 기본 기록 1 #####
years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')[:-1]
for idx, year in enumerate(years):    
    go_to_page(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({idx+1})')
    print(f'<<<{year.text.strip()}>>>')
    
    teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
    for i, item in enumerate(teams_soup):
        go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
        print(f'{item.text.strip()}')
        
        df_hitter_record = make_dataframe()

        # 페이지 길이
        # 페이지 번호 길이
        page_btn = soup.select("div.paging > a")     
        page_range = 2 if len(page_btn) == 1 else len(page_btn)-1
        
        page_lines = []
        for j in range(1, page_range):
            # 페이지 이동
            go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

            # 데이터프레임에 선수 정보 한 행씩 추가
            players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
            for player in players_list:
                page_lines.append(player.text.strip().split('\n'))
        
        for line in page_lines:
            df_hitter_record.loc[len(df_hitter_record)] = line
        
        
        # 엑셀에 저장
        if f'{item.text}.xlsx' in os.listdir('pit_by_team1'):
            writer = pd.ExcelWriter(f'pit_by_team1/{item.text.strip()}.xlsx', mode='a', engine='openpyxl')
        else:
            writer = pd.ExcelWriter(f'pit_by_team1/{item.text.strip()}.xlsx', engine='xlsxwriter')
        df_hitter_record.to_excel(writer, sheet_name=f'{year.text.strip()}', index=False)
        print(f'{item.text.strip()} 완료')
        writer.save()
        
        go_to_page('#cphContents_cphContents_cphContents_ucPager_btnNo1')       
writer.close()

<<<1982>>>
롯데
롯데 완료
삼미
삼미 완료
삼성
삼성 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1983>>>
롯데
롯데 완료
삼미
삼미 완료
삼성
삼성 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1984>>>
롯데
롯데 완료
삼미
삼미 완료
삼성
삼성 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1985>>>
롯데
롯데 완료
삼성
삼성 완료
청보
청보 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1986>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
청보
청보 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1987>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
청보
청보 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1988>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
태평양
태평양 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1989>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
태평양
태평양 완료
해태
해태 완료
MBC
MBC 완료
OB
OB 완료
<<<1990>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
태평양
태평양 완료
해태
해태 완료
LG
LG 완료
OB
OB 완료
<<<1991>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
태평양
태평양 완료
해태
해태 완료
LG
LG 완료
OB
OB 완료
<<<1992>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
태평양
태평양 완료
해태
해태 완료
LG
LG 완료
OB
OB 완료
<<<1993>>>
롯데
롯데 완료
빙그레
빙그레 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
태평양
태평양 완료
해태
해태 완료
LG
LG 완료
OB
OB 완료
<<<1994>>>
롯데
롯데 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
태평양
태평양 완료
한화
한화 완료
해태
해태 완료
LG
LG 완료
OB
OB 완료
<<<1995>>>
롯데
롯데 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
태평양
태평양 완료
한화
한화 완료
해태
해태 완료
LG
LG 완료
OB
OB 완료
<<<1996>>>
롯데
롯데 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
한화
한화 완료
해태
해태 완료
현대
현대 완료
LG
LG 완료
OB
OB 완료
<<<1997>>>
롯데
롯데 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
한화
한화 완료
해태
해태 완료
현대
현대 완료
LG
LG 완료
OB
OB 완료
<<<1998>>>
롯데
롯데 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
한화
한화 완료
해태
해태 완료
현대
현대 완료
LG
LG 완료
OB
OB 완료
<<<1999>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
쌍방울
쌍방울 완료
한화
한화 완료
해태
해태 완료
현대
현대 완료
LG
LG 완료
<<<2000>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
해태
해태 완료
현대
현대 완료
LG
LG 완료
SK
SK 완료
<<<2001>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2002>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2003>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2004>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2005>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2006>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2007>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2008>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
우리 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2009>>>
히어로즈
히어로즈 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2010>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2011>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2012>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2013>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2014>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2015>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2016>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2017>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2018>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2019>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2020>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2021>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료
<<<2022>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료

In [26]:
os.mkdir('pit_by_team2')

In [20]:
writer.close()

C:\Users\wbs04\miniconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [21]:
##### 기본 기록 2 #####
years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')[:-1]
for idx, year in enumerate(years[20:]):   
    go_to_page(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({idx+21})')
    go_to_page('#cphContents_cphContents_cphContents_udpContent > div.row > div.more_record > a.next')
    print(f'<<<{year.text.strip()}>>>')
    
    teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
    for i, item in enumerate(teams_soup):
        go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
        print(f'{item.text.strip()}')
        
        df_hitter_record = make_dataframe()

        # 페이지 길이
        # 페이지 번호 길이
        page_btn = soup.select("div.paging > a")     
        page_range = 2 if len(page_btn) == 1 else len(page_btn)-1
        
        page_lines = []
        for j in range(1, page_range):
            # 페이지 이동
            go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

            # 데이터프레임에 선수 정보 한 행씩 추가
            players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
            for player in players_list:
                page_lines.append(player.text.strip().split('\n'))
        
        for line in page_lines:
            df_hitter_record.loc[len(df_hitter_record)] = line
        
        
        # 엑셀에 저장
        if f'{item.text}.xlsx' in os.listdir('pit_by_team2'):
            writer = pd.ExcelWriter(f'pit_by_team2/{item.text.strip()}.xlsx', mode='a', engine='openpyxl')
        else:
            writer = pd.ExcelWriter(f'pit_by_team2/{item.text.strip()}.xlsx', engine='xlsxwriter')
        df_hitter_record.to_excel(writer, sheet_name=f'{year.text.strip()}', index=False)
        print(f'{item.text.strip()} 완료')
        writer.save()
        
        go_to_page('#cphContents_cphContents_cphContents_ucPager_btnNo1')       
writer.close()

<<<2002>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2003>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2004>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2005>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2006>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2007>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2008>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
우리 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2009>>>
히어로즈
히어로즈 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2010>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2011>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2012>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2013>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2014>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2015>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2016>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2017>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2018>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2019>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2020>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2021>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료
<<<2022>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료

In [28]:
# 기본기록1 + 기본기록2
# pit_by_team1, pit_by_team2 파일 합치기
pit_byteam2_list = os.listdir('pit_by_team2')
for team2 in pit_byteam2_list:
    ex = pd.ExcelFile(f'pit_by_team2/{team2}')
    print(f'<<<{team2}>>>')
    for s in ex.sheet_names:
        df2 = ex.parse(s)
        print(f'team2 {s}')
        df1 = pd.read_excel(f'pit_by_team1/{team2}', sheet_name=s)
        print(f'team1 {s}')
        
        df3 = pd.concat([df1,df2], axis=1)
        df3 = df3.loc[:, ~df3.T.duplicated()]
        
        writer = pd.ExcelWriter(f'pit_by_team1/{team2}', mode='a', engine='openpyxl', if_sheet_exists = 'replace')
        df3.to_excel(writer, sheet_name=s, index=False)
        print(f'{s} 완료')
        writer.save()
writer.close()

<<<KIA.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<KT.xlsx>>>
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<LG.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<NC.xlsx>>>
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<SK.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
<<<SSG.xlsx>>>
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<넥센.xlsx>>>
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
<<<두산.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<롯데.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<삼성.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<우리.xlsx>>>
team2 2008
team1 2008
2008 완료
<<<키움.xlsx>>>
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<한화.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
team2 2008
team1 2008
2008 완료
team2 2009
team1 2009
2009 완료
team2 2010
team1 2010
2010 완료
team2 2011
team1 2011
2011 완료
team2 2012
team1 2012
2012 완료
team2 2013
team1 2013
2013 완료
team2 2014
team1 2014
2014 완료
team2 2015
team1 2015
2015 완료
team2 2016
team1 2016
2016 완료
team2 2017
team1 2017
2017 완료
team2 2018
team1 2018
2018 완료
team2 2019
team1 2019
2019 완료
team2 2020
team1 2020
2020 완료
team2 2021
team1 2021
2021 완료
team2 2022
team1 2022
2022 완료
<<<현대.xlsx>>>
team2 2002
team1 2002
2002 완료
team2 2003
team1 2003
2003 완료
team2 2004
team1 2004
2004 완료
team2 2005
team1 2005
2005 완료
team2 2006
team1 2006
2006 완료
team2 2007
team1 2007
2007 완료
<<<히어로즈.xlsx>>>
team2 2009
team1 2009
2009 완료

In [ ]:
go_to_page('#cphContents_cphContents_cphContents_udpContent > div.row > div.tab-depth3 > ul > li:nth-child(2) > a')

In [ ]:
##### 기본 기록 3 #####
#### 세부기록 P/PA ####
years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')
for idx, year in enumerate(years[20:]):    
    go_to_page(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({idx+21})')
    go_to_page('#cphContents_cphContents_cphContents_udpContent > div.tab-depth3 > ul > li.on > a')
    print(f'<<<{year.text.strip()}>>>')
    
    teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
    for i, item in enumerate(teams_soup):
        go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
        print(f'{item.text.strip()}')
        
        df_hitter_record = make_dataframe()

        # 페이지 길이
        # 페이지 번호 길이
        page_btn = soup.select("div.paging > a")     
        page_range = 2 if len(page_btn) == 1 else len(page_btn)-1
        
        page_lines = []
        for j in range(1, page_range):
            # 페이지 이동
            go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

            # 데이터프레임에 선수 정보 한 행씩 추가
            players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
            for player in players_list:
                page_lines.append(player.text.strip().split('\n'))
        
        for line in page_lines:
            df_hitter_record.loc[len(df_hitter_record)] = line
        
        
        # 엑셀에 저장
        if f'{item.text}.xlsx' in os.listdir('by_team3'):
            writer = pd.ExcelWriter(f'by_team3/{item.text.strip()}.xlsx', mode='a', engine='openpyxl')
        else:
            writer = pd.ExcelWriter(f'by_team3/{item.text.strip()}.xlsx', engine='xlsxwriter')
        df_hitter_record.to_excel(writer, sheet_name=f'{year.text.strip()}', index=False)
        print(f'{item.text.strip()} 완료')
        writer.save()
        
        go_to_page('#cphContents_cphContents_cphContents_ucPager_btnNo1')       
writer.close()

In [ ]:
# 기본기록 + 세부기록['P/PA']
# by_team1, by_team3 파일 합치기
byteam3_list = os.listdir('by_team3')
for team3 in byteam3_list:
    ex = pd.ExcelFile(f'by_team3/{team3}')
    print(f'<<<{team3}>>>')
    for s in ex.sheet_names:
        df3 = ex.parse(s)[['P/PA']]
        print(f'team3 {s}')
        df1 = pd.read_excel(f'by_team1/{team3}', sheet_name=s)
        print(f'team1 {s}')
        
        df = pd.concat([df1,df3], axis=1)
        df = df.loc[:, ~df.T.duplicated()]
        
        writer = pd.ExcelWriter(f'by_team1/{team3}', mode='a', engine='openpyxl', if_sheet_exists = 'replace')
        df.to_excel(writer, sheet_name=s, index=False)
        print(f'{s} 완료')
        writer.save()
writer.close()

In [27]:
os.mkdir('pit_by_team3')

In [28]:
go_to_page('#contents > div.sub-content > div.tab-depth2 > ul > li:nth-child(2) > a')

In [29]:
##### 세부 기록 1 #####
years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')[:-1]
for idx, year in enumerate(years[20:]):    
    go_to_page(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({idx+21})')
    print(f'<<<{year.text.strip()}>>>')
    
    teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
    for i, item in enumerate(teams_soup):
        go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
        print(f'{item.text.strip()}')
        
        df_pitcher_record = make_dataframe()

        # 페이지 길이
        # 페이지 번호 길이
        page_btn = soup.select("div.paging > a")     
        page_range = 2 if len(page_btn) == 1 else len(page_btn)-1
        
        page_lines = []
        for j in range(1, page_range):
            # 페이지 이동
            go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

            # 데이터프레임에 선수 정보 한 행씩 추가
            players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
            for player in players_list:
                page_lines.append(player.text.strip().split('\n'))
        
        for line in page_lines:
            df_pitcher_record.loc[len(df_pitcher_record)] = line
        
        
        # 엑셀에 저장
        if f'{item.text}.xlsx' in os.listdir('pit_by_team3'):
            writer = pd.ExcelWriter(f'pit_by_team3/{item.text.strip()}.xlsx', mode='a', engine='openpyxl')
        else:
            writer = pd.ExcelWriter(f'pit_by_team3/{item.text.strip()}.xlsx', engine='xlsxwriter')
        df_pitcher_record.to_excel(writer, sheet_name=f'{year.text.strip()}', index=False)
        print(f'{item.text.strip()} 완료')
        writer.save()
        
        go_to_page('#cphContents_cphContents_cphContents_ucPager_btnNo1')       
writer.close()

<<<2002>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2003>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2004>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2005>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2006>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2007>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2008>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
우리 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2009>>>
히어로즈
히어로즈 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2010>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2011>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2012>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2013>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2014>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2015>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2016>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2017>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2018>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2019>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2020>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2021>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료

C:\Users\wbs04\miniconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

[<option value="1982">1982</option>,
 <option value="1983">1983</option>,
 <option value="1984">1984</option>,
 <option value="1985">1985</option>,
 <option value="1986">1986</option>,
 <option value="1987">1987</option>,
 <option value="1988">1988</option>,
 <option value="1989">1989</option>,
 <option value="1990">1990</option>,
 <option value="1991">1991</option>,
 <option value="1992">1992</option>,
 <option value="1993">1993</option>,
 <option value="1994">1994</option>,
 <option value="1995">1995</option>,
 <option value="1996">1996</option>,
 <option value="1997">1997</option>,
 <option value="1998">1998</option>,
 <option value="1999">1999</option>,
 <option value="2000">2000</option>,
 <option value="2001">2001</option>,
 <option value="2002">2002</option>,
 <option value="2003">2003</option>,
 <option value="2004">2004</option>,
 <option value="2005">2005</option>,
 <option value="2006">2006</option>,
 <option value="2007">2007</option>,
 <option value="2008">2008</option>,
 <option value="2009">2009</option>,
 <option value="2010">2010</option>,
 <option value="2011">2011</option>,
 <option value="2012">2012</option>,
 <option value="2013">2013</option>,
 <option value="2014">2014</option>,
 <option value="2015">2015</option>,
 <option value="2016">2016</option>,
 <option value="2017">2017</option>,
 <option value="2018">2018</option>,
 <option value="2019">2019</option>,
 <option value="2020">2020</option>,
 <option value="2021">2021</option>,
 <option selected="selected" value="2022">2022</option>]

In [39]:
teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
for i, item in enumerate(teams_soup):
    go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
    print(f'{item.text.strip()}')

    df_pitcher_record = make_dataframe()

    # 페이지 길이
    # 페이지 번호 길이
    page_btn = soup.select("div.paging > a")     
    page_range = 2 if len(page_btn) == 1 else len(page_btn)-1

    page_lines = []
    for j in range(1, page_range):
        # 페이지 이동
        go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

        # 데이터프레임에 선수 정보 한 행씩 추가
        players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
        for player in players_list:
            page_lines.append(player.text.strip().split('\n'))

    for line in page_lines:
        df_pitcher_record.loc[len(df_pitcher_record)] = line


    # 엑셀에 저장
    if f'{item.text}.xlsx' in os.listdir('pit_by_team3'):
        writer = pd.ExcelWriter(f'pit_by_team3/{item.text.strip()}.xlsx', mode='a', engine='openpyxl')
    else:
        writer = pd.ExcelWriter(f'pit_by_team3/{item.text.strip()}.xlsx', engine='xlsxwriter')
    df_pitcher_record.to_excel(writer, sheet_name='2022', index=False)
    print(f'{item.text.strip()} 완료')
    writer.save()

    go_to_page('#cphContents_cphContents_cphContents_ucPager_btnNo1')       
writer.close()

두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료

In [30]:
os.mkdir('pit_by_team4')

In [35]:
go_to_page('#contents > div.sub-content > div.tab-depth2 > ul > li:nth-child(2) > a')

In [36]:
##### 세부 기록 2 #####
years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')[:-1]
for idx, year in enumerate(years[20:]):    
    go_to_page(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({idx+21})')
    go_to_page('#cphContents_cphContents_cphContents_udpContent > div.row > div.more_record > a.next')
    print(f'<<<{year.text.strip()}>>>')
    
    teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
    for i, item in enumerate(teams_soup):
        go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
        print(f'{item.text.strip()}')
        
        df_pitcher_record = make_dataframe()

        # 페이지 길이
        # 페이지 번호 길이
        page_btn = soup.select("div.paging > a")     
        page_range = 2 if len(page_btn) == 1 else len(page_btn)-1
        
        page_lines = []
        for j in range(1, page_range):
            # 페이지 이동
            go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

            # 데이터프레임에 선수 정보 한 행씩 추가
            players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
            for player in players_list:
                page_lines.append(player.text.strip().split('\n'))
        
        for line in page_lines:
            df_pitcher_record.loc[len(df_pitcher_record)] = line
        
        
        # 엑셀에 저장
        if f'{item.text}.xlsx' in os.listdir('pit_by_team4'):
            writer = pd.ExcelWriter(f'pit_by_team4/{item.text.strip()}.xlsx', mode='a', engine='openpyxl')
        else:
            writer = pd.ExcelWriter(f'pit_by_team4/{item.text.strip()}.xlsx', engine='xlsxwriter')
        df_pitcher_record.to_excel(writer, sheet_name=f'{year.text.strip()}', index=False)
        print(f'{item.text.strip()} 완료')
        writer.save()
        
        go_to_page('#cphContents_cphContents_cphContents_ucPager_btnNo1')       
writer.close()

<<<2002>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2003>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2004>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2005>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2006>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2007>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2008>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
우리
우리 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2009>>>
히어로즈
히어로즈 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2010>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2011>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2012>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료
<<<2013>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2014>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2015>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2016>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2017>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2018>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2019>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2020>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2021>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료
<<<2022>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":"#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child(42)"}
  (Session info: chrome=106.0.5249.103)
Stacktrace:
Backtrace:
	Ordinal0 [0x003C1ED3+2236115]
	Ordinal0 [0x003592F1+1807089]
	Ordinal0 [0x002666FD+812797]
	Ordinal0 [0x002955DF+1005023]
	Ordinal0 [0x002957CB+1005515]
	Ordinal0 [0x002C7632+1209906]
	Ordinal0 [0x002B1AD4+1120980]
	Ordinal0 [0x002C59E2+1202658]
	Ordinal0 [0x002B18A6+1120422]
	Ordinal0 [0x0028A73D+960317]
	Ordinal0 [0x0028B71F+964383]
	GetHandleVerifier [0x0066E7E2+2743074]
	GetHandleVerifier [0x006608D4+2685972]
	GetHandleVerifier [0x00452BAA+532202]
	GetHandleVerifier [0x00451990+527568]
	Ordinal0 [0x0036080C+1837068]
	Ordinal0 [0x00364CD8+1854680]
	Ordinal0 [0x00364DC5+1854917]
	Ordinal0 [0x0036ED64+1895780]
	BaseThreadInitThunk [0x75696739+25]
	RtlGetFullPathName_UEx [0x771A8FD2+1218]
	RtlGetFullPathName_UEx [0x771A8F9D+1165]

In [40]:
# 세부기록1 + 세부기록2
# pit_by_team3, pit_by_team4 파일 합치기
pitbyteam4_list = os.listdir('pit_by_team4')
for team4 in pitbyteam4_list:
    ex = pd.ExcelFile(f'pit_by_team4/{team4}')
    print(f'<<<{team4}>>>')
    for s in ex.sheet_names:
        df4 = ex.parse(s)
        print(f'team4 {s}')
        df3 = pd.read_excel(f'pit_by_team3/{team4}', sheet_name=s)
        print(f'team3 {s}')
        
        df = pd.concat([df3,df4], axis=1)
        df = df.loc[:, ~df.T.duplicated()]
        
        writer = pd.ExcelWriter(f'pit_by_team3/{team4}', mode='a', engine='openpyxl', if_sheet_exists = 'replace')
        df.to_excel(writer, sheet_name=s, index=False)
        print(f'{s} 완료')
        writer.save()
writer.close()

<<<KIA.xlsx>>>
team4 2002
team3 2002
2002 완료
team4 2003
team3 2003
2003 완료
team4 2004
team3 2004
2004 완료
team4 2005
team3 2005
2005 완료
team4 2006
team3 2006
2006 완료
team4 2007
team3 2007
2007 완료
team4 2008
team3 2008
2008 완료
team4 2009
team3 2009
2009 완료
team4 2010
team3 2010
2010 완료
team4 2011
team3 2011
2011 완료
team4 2012
team3 2012
2012 완료
team4 2013
team3 2013
2013 완료
team4 2014
team3 2014
2014 완료
team4 2015
team3 2015
2015 완료
team4 2016
team3 2016
2016 완료
team4 2017
team3 2017
2017 완료
team4 2018
team3 2018
2018 완료
team4 2019
team3 2019
2019 완료
team4 2020
team3 2020
2020 완료
team4 2021
team3 2021
2021 완료
team4 2022
team3 2022
2022 완료
<<<KT.xlsx>>>
team4 2015
team3 2015
2015 완료
team4 2016
team3 2016
2016 완료
team4 2017
team3 2017
2017 완료
team4 2018
team3 2018
2018 완료
team4 2019
team3 2019
2019 완료
team4 2020
team3 2020
2020 완료
team4 2021
team3 2021
2021 완료
team4 2022
team3 2022
2022 완료
<<<LG.xlsx>>>
team4 2002
team3 2002
2002 완료
team4 2003
team3 2003
2003 완료
team4 2004
team3 2004
2004 완료
team4 2005
team3 2005
2005 완료
team4 2006
team3 2006
2006 완료
team4 2007
team3 2007
2007 완료
team4 2008
team3 2008
2008 완료
team4 2009
team3 2009
2009 완료
team4 2010
team3 2010
2010 완료
team4 2011
team3 2011
2011 완료
team4 2012
team3 2012
2012 완료
team4 2013
team3 2013
2013 완료
team4 2014
team3 2014
2014 완료
team4 2015
team3 2015
2015 완료
team4 2016
team3 2016
2016 완료
team4 2017
team3 2017
2017 완료
team4 2018
team3 2018
2018 완료
team4 2019
team3 2019
2019 완료
team4 2020
team3 2020
2020 완료
team4 2021
team3 2021
2021 완료
team4 2022
team3 2022
2022 완료
<<<NC.xlsx>>>
team4 2013
team3 2013
2013 완료
team4 2014
team3 2014
2014 완료
team4 2015
team3 2015
2015 완료
team4 2016
team3 2016
2016 완료
team4 2017
team3 2017
2017 완료
team4 2018
team3 2018
2018 완료
team4 2019
team3 2019
2019 완료
team4 2020
team3 2020
2020 완료
team4 2021
team3 2021
2021 완료
team4 2022
team3 2022
2022 완료
<<<SK.xlsx>>>
team4 2002
team3 2002
2002 완료
team4 2003
team3 2003
2003 완료
team4 2004
team3 2004
2004 완료
team4 2005
team3 2005
2005 완료
team4 2006
team3 2006
2006 완료
team4 2007
team3 2007
2007 완료
team4 2008
team3 2008
2008 완료
team4 2009
team3 2009
2009 완료
team4 2010
team3 2010
2010 완료
team4 2011
team3 2011
2011 완료
team4 2012
team3 2012
2012 완료
team4 2013
team3 2013
2013 완료
team4 2014
team3 2014
2014 완료
team4 2015
team3 2015
2015 완료
team4 2016
team3 2016
2016 완료
team4 2017
team3 2017
2017 완료
team4 2018
team3 2018
2018 완료
team4 2019
team3 2019
2019 완료
team4 2020
team3 2020
2020 완료
<<<SSG.xlsx>>>
team4 2021
team3 2021
2021 완료
team4 2022
team3 2022
2022 완료
<<<넥센.xlsx>>>
team4 2010
team3 2010
2010 완료
team4 2011
team3 2011
2011 완료
team4 2012
team3 2012
2012 완료
team4 2013
team3 2013
2013 완료
team4 2014
team3 2014
2014 완료
team4 2015
team3 2015
2015 완료
team4 2016
team3 2016
2016 완료
team4 2017
team3 2017
2017 완료
team4 2018
team3 2018
2018 완료
<<<두산.xlsx>>>
team4 2002
team3 2002
2002 완료
team4 2003
team3 2003
2003 완료
team4 2004
team3 2004
2004 완료
team4 2005
team3 2005
2005 완료
team4 2006
team3 2006
2006 완료
team4 2007
team3 2007
2007 완료
team4 2008
team3 2008
2008 완료
team4 2009
team3 2009
2009 완료
team4 2010
team3 2010
2010 완료
team4 2011
team3 2011
2011 완료
team4 2012
team3 2012
2012 완료
team4 2013
team3 2013
2013 완료
team4 2014
team3 2014
2014 완료
team4 2015
team3 2015
2015 완료
team4 2016
team3 2016
2016 완료
team4 2017
team3 2017
2017 완료
team4 2018
team3 2018
2018 완료
team4 2019
team3 2019
2019 완료
team4 2020
team3 2020
2020 완료
team4 2021
team3 2021
2021 완료
team4 2022
team3 2022
2022 완료
<<<롯데.xlsx>>>
team4 2002
team3 2002
2002 완료
team4 2003
team3 2003
2003 완료
team4 2004
team3 2004
2004 완료
team4 2005
team3 2005
2005 완료
team4 2006
team3 2006
2006 완료
team4 2007
team3 2007
2007 완료
team4 2008
team3 2008
2008 완료
team4 2009
team3 2009
2009 완료
team4 2010
team3 2010
2010 완료
team4 2011
team3 2011
2011 완료
team4 2012
team3 2012
2012 완료
team4 2013
team3 2013
2013 완료
team4 2014
team3 2014
2014 완료
team4 2015
team3 2015
2015 완료
team4 2016
team3 2016
2016 완료
team4 2017
team3 2017
2017 완료
team4 2018
team3 2018
2018 완료
team4 2019
team3 2019
2019 완료
team4 2020
team3 2020
2020 완료
team4 2021
team3 2021
2021 완료
team4 2022
team3 2022
2022 완료
<<<삼성.xlsx>>>
team4 2002
team3 2002
2002 완료
team4 2003
team3 2003
2003 완료
team4 2004
team3 2004
2004 완료
team4 2005
team3 2005
2005 완료
team4 2006
team3 2006
2006 완료
team4 2007
team3 2007
2007 완료
team4 2008
team3 2008
2008 완료
team4 2009
team3 2009
2009 완료
team4 2010
team3 2010
2010 완료
team4 2011
team3 2011
2011 완료
team4 2012
team3 2012
2012 완료
team4 2013
team3 2013
2013 완료
team4 2014
team3 2014
2014 완료
team4 2015
team3 2015
2015 완료
team4 2016
team3 2016
2016 완료
team4 2017
team3 2017
2017 완료
team4 2018
team3 2018
2018 완료
team4 2019
team3 2019
2019 완료
team4 2020
team3 2020
2020 완료
team4 2021
team3 2021
2021 완료
team4 2022
team3 2022
2022 완료
<<<우리.xlsx>>>
team4 2008
team3 2008
2008 완료
<<<키움.xlsx>>>
team4 2019
team3 2019
2019 완료
team4 2020
team3 2020
2020 완료
team4 2021
team3 2021
2021 완료
team4 2022
team3 2022
2022 완료
<<<한화.xlsx>>>
team4 2002
team3 2002
2002 완료
team4 2003
team3 2003
2003 완료
team4 2004
team3 2004
2004 완료
team4 2005
team3 2005
2005 완료
team4 2006
team3 2006
2006 완료
team4 2007
team3 2007
2007 완료
team4 2008
team3 2008
2008 완료
team4 2009
team3 2009
2009 완료
team4 2010
team3 2010
2010 완료
team4 2011
team3 2011
2011 완료
team4 2012
team3 2012
2012 완료
team4 2013
team3 2013
2013 완료
team4 2014
team3 2014
2014 완료
team4 2015
team3 2015
2015 완료
team4 2016
team3 2016
2016 완료
team4 2017
team3 2017
2017 완료
team4 2018
team3 2018
2018 완료
team4 2019
team3 2019
2019 완료
team4 2020
team3 2020
2020 완료
team4 2021
team3 2021
2021 완료
team4 2022
team3 2022
2022 완료
<<<현대.xlsx>>>
team4 2002
team3 2002
2002 완료
team4 2003
team3 2003
2003 완료
team4 2004
team3 2004
2004 완료
team4 2005
team3 2005
2005 완료
team4 2006
team3 2006
2006 완료
team4 2007
team3 2007
2007 완료
<<<히어로즈.xlsx>>>
team4 2009
team3 2009
2009 완료

## 수비

In [25]:
os.mkdir('def_by_team1')

FileExistsError: [WinError 183] 파일이 이미 있으므로 만들 수 없습니다: 'def_by_team1'

In [26]:
go_to_page('#contents > div.sub-content > div.tab-depth2 > ul > li:nth-child(3) > a')

In [38]:
##### 기본 기록 1 #####
years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')
for idx, year in enumerate(years):    
    go_to_page(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({idx+1})')
    print(f'<<<{year.text.strip()}>>>')
    
    teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
    for i, item in enumerate(teams_soup):
        go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
        print(f'{item.text.strip()}')
        
        df_hitter_record = make_dataframe()

        # 페이지 길이
        # 페이지 번호 길이
        page_btn = soup.select("div.paging > a")     
        page_range = 2 if len(page_btn) == 1 else len(page_btn)-1
        
        page_lines = []
        for j in range(1, page_range):
            # 페이지 이동
            go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

            # 데이터프레임에 선수 정보 한 행씩 추가
            players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
            for player in players_list:
                page_lines.append(player.text.strip().split('\n'))
        
        for line in page_lines:
            df_hitter_record.loc[len(df_hitter_record)] = line
        
        
        # 엑셀에 저장
        if f'{item.text}.xlsx' in os.listdir('def_by_team1'):
            writer = pd.ExcelWriter(f'def_by_team1/{item.text.strip()}.xlsx', mode='a', engine='openpyxl')
        else:
            writer = pd.ExcelWriter(f'def_by_team1/{item.text.strip()}.xlsx', engine='xlsxwriter')
        df_hitter_record.to_excel(writer, sheet_name=f'{year.text.strip()}', index=False)
        print(f'{item.text.strip()} 완료')
        writer.save()
        
        go_to_page('#cphContents_cphContents_cphContents_ucPager_btnNo1')       
writer.close()

<<<2007>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
현대
현대 완료
KIA
KIA 완료
LG
LG 완료
SK
SK 완료

In [ ]:
##########team1 점검##########

In [42]:
team_list = os.listdir('def_by_team1')
for t in team_list:
    ex = pd.ExcelFile(f'def_by_team1/{t}')
    for s in ex.sheet_names:
        df_tmp = ex.parse(s)
        if df_tmp['팀명'][0].strip() != t.split('.')[0].strip():
            print(t, s)

In [43]:
team_list = os.listdir('def_by_team1')
for t in team_list:
    ex = pd.ExcelFile(f'def_by_team1/{t}')
    for i in range(len(ex.sheet_names)-1):
        df1 = ex.parse(ex.sheet_names[i])
        for j in range(i+1, len(ex.sheet_names)):
            df2 = ex.parse(ex.sheet_names[j])
            
            if df1.equals(df2):
                print(t, i)

In [41]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
df_hitter_record = make_dataframe()

# 페이지 길이
# 페이지 번호 길이
page_btn = soup.select("div.paging > a")     
page_range = 2 if len(page_btn) == 1 else len(page_btn)-1

page_lines = []
for j in range(1, page_range):
    # 페이지 이동
    go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

    # 데이터프레임에 선수 정보 한 행씩 추가
    players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
    for player in players_list:
        page_lines.append(player.text.strip().split('\n'))

for line in page_lines:
    df_hitter_record.loc[len(df_hitter_record)] = line


# 엑셀에 저장
if '한화.xlsx' in os.listdir('def_by_team1'):
    writer = pd.ExcelWriter('def_by_team1/한화.xlsx', mode='a', engine='openpyxl', if_sheet_exists = 'replace')
else:
    writer = pd.ExcelWriter('def_by_team1/한화.xlsx', engine='xlsxwriter')
df_hitter_record.to_excel(writer, sheet_name='2022', index=False)
writer.save()

## 주루

In [44]:
os.mkdir('run_by_team1')

In [45]:
go_to_page('#contents > div.sub-content > div.tab-depth2 > ul > li:nth-child(4) > a')

In [48]:
writer.close()

C:\Users\wbs04\miniconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [50]:
##### 기본 기록 1 #####
years = soup.select('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')
for idx, year in enumerate(years[15:]):    
    go_to_page(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({idx+16})')
    print(f'<<<{year.text.strip()}>>>')
    
    teams_soup = soup.select('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option')[1:]
    for i, item in enumerate(teams_soup):
        go_to_page(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({i+2})')
        print(f'{item.text.strip()}')
        
        df_hitter_record = make_dataframe()

        # 페이지 길이
        # 페이지 번호 길이
        page_btn = soup.select("div.paging > a")     
        page_range = 2 if len(page_btn) == 1 else len(page_btn)-1
        
        page_lines = []
        for j in range(1, page_range):
            # 페이지 이동
            go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

            # 데이터프레임에 선수 정보 한 행씩 추가
            players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
            for player in players_list:
                page_lines.append(player.text.strip().split('\n'))
        
        for line in page_lines:
            df_hitter_record.loc[len(df_hitter_record)] = line
        
        
        # 엑셀에 저장
        if f'{item.text}.xlsx' in os.listdir('run_by_team1'):
            writer = pd.ExcelWriter(f'run_by_team1/{item.text.strip()}.xlsx', mode='a', engine='openpyxl', if_sheet_exists = 'replace')
        else:
            writer = pd.ExcelWriter(f'run_by_team1/{item.text.strip()}.xlsx', engine='xlsxwriter')
        df_hitter_record.to_excel(writer, sheet_name=f'{year.text.strip()}', index=False)
        print(f'{item.text.strip()} 완료')
        writer.save()
        
        go_to_page('#cphContents_cphContents_cphContents_ucPager_btnNo1')       
writer.close()

<<<2016>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2017>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2018>>>
넥센
넥센 완료
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2019>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2020>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SK
SK 완료
<<<2021>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료
<<<2022>>>
두산
두산 완료
롯데
롯데 완료
삼성
삼성 완료
키움
키움 완료
한화
한화 완료
KIA
KIA 완료
KT
KT 완료
LG
LG 완료
NC
NC 완료
SSG
SSG 완료

In [ ]:
##########team1 점검##########

In [28]:
team_list = os.listdir('by_team3')
for t in team_list:
    ex = pd.ExcelFile(f'by_team3/{t}')
    for s in ex.sheet_names:
        df_tmp = ex.parse(s)
        if df_tmp['팀명'][0].strip() != t.split('.')[0].strip():
            print(t, s)

In [29]:
team_list = os.listdir('by_team3')
for t in team_list:
    ex = pd.ExcelFile(f'by_team3/{t}')
    for i in range(len(ex.sheet_names)-1):
        df1 = ex.parse(ex.sheet_names[i])
        for j in range(i+1, len(ex.sheet_names)):
            df2 = ex.parse(ex.sheet_names[j])
            
            if df1.equals(df2):
                print(t, i)

In [16]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
df_hitter_record = make_dataframe()

# 페이지 길이
# 페이지 번호 길이
page_btn = soup.select("div.paging > a")     
page_range = 2 if len(page_btn) == 1 else len(page_btn)-1

page_lines = []
for j in range(1, page_range):
    # 페이지 이동
    go_to_page(f'#cphContents_cphContents_cphContents_ucPager_btnNo{j}')

    # 데이터프레임에 선수 정보 한 행씩 추가
    players_list = soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
    for player in players_list:
        page_lines.append(player.text.strip().split('\n'))

for line in page_lines:
    df_hitter_record.loc[len(df_hitter_record)] = line


# 엑셀에 저장
if '해태.xlsx' in os.listdir('by_team1'):
    writer = pd.ExcelWriter('by_team1/해태.xlsx', mode='a', engine='openpyxl', if_sheet_exists = 'replace')
else:
    writer = pd.ExcelWriter('by_team1/해태.xlsx', engine='xlsxwriter')
df_hitter_record.to_excel(writer, sheet_name='1983', index=False)
writer.save()

In [17]:
writer.close()

In [ ]:
randomforest

RandomForestRegressor 예측
RandomForestClassifier 분류

sklearn